force-app/main/default/flows/AccountDatafromBR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ConferenceAssignment</name>
        <label>ConferenceAssignment</label>
        <locationX>615</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>getAccount.Conference_Room_Software__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>softwareisNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DevicesAssignme_t</name>
        <label>DevicesAssignment</label>
        <locationX>617</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>getAccount.Devices_Connected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>devices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>conferenceIsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SoftwareAssignment</name>
        <label>SoftwareAssignment</label>
        <locationX>571</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>getAccount.Software_Being_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>software</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>conferenceIsNull</name>
        <label>conferenceIsNull</label>
        <locationX>276</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>ConferenceAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ConferenceNotNull</defaultConnectorLabel>
        <rules>
            <name>ConferenceNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.Conference_Room_Software__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>softwareisNull</targetReference>
            </connector>
            <label>ConferenceNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>devicesisNull</name>
        <label>devicesisNull</label>
        <locationX>558</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>DevicesAssignme_t</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DeviceisNotnull</defaultConnectorLabel>
        <rules>
            <name>Devicenull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.Devices_Connected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>conferenceIsNull</targetReference>
            </connector>
            <label>Devicenull</label>
        </rules>
    </decisions>
    <decisions>
        <name>softwareisNull</name>
        <label>softwareisNull</label>
        <locationX>271</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>SoftwareAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>softwareNotNull</defaultConnectorLabel>
        <rules>
            <name>SoftwareNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.Software_Being_Used__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAccount</targetReference>
            </connector>
            <label>SoftwareNull</label>
        </rules>
    </decisions>
    <interviewLabel>AccountDatafromBR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountDatafromBR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>370</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>devicesisNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpp.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Conference_Room_Software__c</queriedFields>
        <queriedFields>Devices_Connected__c</queriedFields>
        <queriedFields>Software_Being_Used__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpp</name>
        <label>getOpp</label>
        <locationX>50</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>281</locationX>
        <locationY>649</locationY>
        <inputReference>getAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>179</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOpp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>conference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>devices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>software</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
