force-app/main/default/flows/Accounts_Team_Hierarchy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Team_Member_Values</name>
        <label>Assign Team Member Values</label>
        <locationX>588</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>acctteamsobj.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acctteamsobj.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acctteamsobj.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acctteamsobj.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acctteamsobj.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acctteamsobj.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acctteamsobj.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSobj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignSobject_to_New_Acct_Team_Member_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSobject_to_New_Acct_Team_Member_Collection</name>
        <label>AssignSobject to New Acct Team Member Collection</label>
        <locationX>586</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>acctteamcol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>acctteamsobj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Make_sure_not_blank</name>
        <label>Make sure not blank</label>
        <locationX>274</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>collection_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcctCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Accounts</targetReference>
            </connector>
            <label>collection is not null</label>
        </rules>
    </decisions>
    <description>adds team members for all accounts in heirarchy</description>
    <interviewLabel>Accounts Team Hierarchy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accounts Team Hierarchy</label>
    <loops>
        <name>Loop_through_Accounts</name>
        <label>Loop through Accounts</label>
        <locationX>425</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>AccountSobj</assignNextValueToReference>
        <collectionReference>AcctCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Team_Member_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>acctteammembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>acctteammembers</name>
        <label>acctteammembers</label>
        <locationX>416</locationX>
        <locationY>161</locationY>
        <inputReference>acctteamcol</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Accounts</name>
        <label>Accounts in Hierarchy</label>
        <locationX>128</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_sure_not_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AcctCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Accounts</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AcctCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctteamcol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>acctteamsobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
