force-app/main/default/flows/AddSpaTeam.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddTeamMemberCollection</name>
        <label>AddTeamMemberCollection</label>
        <locationX>674</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>NewOppTeamCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppTeamNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUserIdsForTeam_Each_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUserIdToTeamMemberCollections</name>
        <label>AddUserIdToTeamMemberCollections</label>
        <locationX>495</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>OppTeamNew.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcctTeamUserIDSobj.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppTeamNew.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcctTeamUserIDSobj.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppTeamNew.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppTeamNew.OpportunityId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTeamMemberCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_id_for_testgin</name>
        <label>Assign Opp id for testgin</label>
        <locationX>81</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>oppid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunitytestid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Partners</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>opportunitytestid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0061200000VqMIR</stringValue>
        </value>
    </constants>
    <interviewLabel>AddSpaTeam {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddSpaTeam</label>
    <loops>
        <name>Get_Account_Ids_to_query</name>
        <label>Get Account Ids to query</label>
        <locationX>287</locationX>
        <locationY>13</locationY>
        <assignNextValueToReference>OppPartnerSobj</assignNextValueToReference>
        <collectionReference>OppPartnersCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetAccountTeamUsers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OppTeamNewCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>GetUserIdsForTeam_Each_Account</name>
        <label>GetUserIdsForTeam Each Account</label>
        <locationX>536</locationX>
        <locationY>142</locationY>
        <assignNextValueToReference>AcctTeamUserIDSobj</assignNextValueToReference>
        <collectionReference>AcctTeamUsersCol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_partcollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Ids_to_query</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>OppTeamNewCreate</name>
        <label>OppTeamNewCreate</label>
        <locationX>287</locationX>
        <locationY>252</locationY>
        <inputReference>NewOppTeamCol</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Partners</name>
        <label>Get All Partners</label>
        <locationX>42</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Ids_to_query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <object>Opportunity_Partner__c</object>
        <outputReference>OppPartnersCollection</outputReference>
        <queriedFields>Partner_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountTeamUsers</name>
        <label>GetAccountTeamUsers</label>
        <locationX>532</locationX>
        <locationY>7</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserIdsForTeam_Each_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppPartnerSobj.Partner_Account__c</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>AcctTeamUsersCol</outputReference>
        <queriedFields>UserId</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
    </recordLookups>
    <screens>
        <name>get_partcollection</name>
        <label>get partcollection</label>
        <locationX>835</locationX>
        <locationY>201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddUserIdToTeamMemberCollections</targetReference>
        </connector>
        <fields>
            <name>partners</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AcctTeamUserIDSobj.UserId</elementReference>
            </defaultValue>
            <fieldText>partners</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Assign_Opp_id_for_testgin</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AcctTeamUserIDSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>AcctTeamUsersCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>NewOppTeamCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppPartnersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Partner__c</objectType>
    </variables>
    <variables>
        <name>OppPartnerSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Partner__c</objectType>
    </variables>
    <variables>
        <name>OppTeamNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
