force-app/main/default/flows/ADF_02_ECR_Count_of_STRI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>1008</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Count_of_STRI</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_STRI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_0</name>
        <label>Assign</label>
        <locationX>1360</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Count_of_STRI</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_STRI_0</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ADF_02_ECR_Count_of_STRI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADF_02_ECR_Count_of_STRI</label>
    <loops>
        <name>Loop_Get_STRI</name>
        <label>Loop Get_STRI</label>
        <locationX>920</locationX>
        <locationY>530</locationY>
        <collectionReference>Get_STRI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Count_of_STRI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Get_STRI_0</name>
        <label>Loop Get_STRI</label>
        <locationX>1272</locationX>
        <locationY>530</locationY>
        <collectionReference>Get_STRI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Count_of_STRI_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_STRI</name>
        <label>Get STRI</label>
        <locationX>920</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Get_STRI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Company_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sell_Through_Report_Import__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_STRI_0</name>
        <label>Get STRI</label>
        <locationX>1272</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Get_STRI_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Company_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sell_Through_Report_Import__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Count_of_STRI</name>
        <label>Update Count_of_STRI</label>
        <locationX>920</locationX>
        <locationY>866</locationY>
        <inputAssignments>
            <field>Count_of_STRI__c</field>
            <value>
                <elementReference>Count_of_STRI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Count_of_STRI_0</name>
        <label>Update Count_of_STRI</label>
        <locationX>1272</locationX>
        <locationY>866</locationY>
        <inputAssignments>
            <field>Count_of_STRI__c</field>
            <value>
                <elementReference>Count_of_STRI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>962</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_STRI</targetReference>
        </connector>
        <object>External_Company_Request__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>Count_of_STRI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
