force-app/main/default/flows/ADF_03_ECR_Re_Parent_STRI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_STRI_Update_Col</name>
        <label>Assign STRI_Update_Col</label>
        <locationX>138</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>STRI_Update_Col.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_Related_Child_STRI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STRI_Update_Col.External_Company_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_ECR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_STRI_Update_Cols</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_STRI_Update_Cols</name>
        <label>Assign STRI_Update_Cols</label>
        <locationX>138</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>STRI_Update_Cols</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>STRI_Update_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Related_Child_STRI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Get_Related_Child_STRI</name>
        <label>Check Get_Related_Child_STRI</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Child_STRI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Get_Related_Child_STRI</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ADF_03_ECR_Re_Parent_STRI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADF_03_ECR_Re_Parent_STRI</label>
    <loops>
        <name>Loop_Get_Related_Child_STRI</name>
        <label>Loop Get_Related_Child_STRI</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <collectionReference>Get_Related_Child_STRI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_STRI_Update_Col</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_STRI_Update_Cols</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Child_STRI</name>
        <label>Get Related Child STRI</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Related_Child_STRI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Company_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sell_Through_Report_Import__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_ECR</name>
        <label>Get Related ECR</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Child_STRI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Distributor__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>External_Customer_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Customer_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>After_Dedup_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>External_Company_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_STRI_Update_Cols</name>
        <label>Update STRI_Update_Cols</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <inputReference>STRI_Update_Cols</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_ECR</targetReference>
        </connector>
        <object>External_Company_Request__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>STRI_Update_Col</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sell_Through_Report_Import__c</objectType>
    </variables>
    <variables>
        <name>STRI_Update_Cols</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sell_Through_Report_Import__c</objectType>
    </variables>
</Flow>
