force-app/main/default/flows/AF01_Sell_Through_Report_Create_Header.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_STRH_Create</name>
        <label>Assign STRH_Create</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>STRH_Create.Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.distributor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STRH_Create.Import_File__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Import_File__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_STRH</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_STRH</name>
        <label>Check STRH</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Assign_STRH_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existig_Sell_Thru_Report_Header</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Header</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AF01_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF01_Sell_Through_Report_Create_Header</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_STRH</name>
        <label>Create STRH</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputReference>STRH_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existig_Sell_Thru_Report_Header</name>
        <label>Get Existig Sell Thru Report Header</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_STRH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Import_File__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Import_File__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sell_Through_Report_Header__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Header</name>
        <label>Update Header</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Sell_Through_Report_Header__c</field>
            <value>
                <elementReference>Get_Existig_Sell_Thru_Report_Header.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existig_Sell_Thru_Report_Header</targetReference>
        </connector>
        <object>Sell_Through_Report__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>STRH_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sell_Through_Report_Header__c</objectType>
    </variables>
</Flow>
