force-app/main/default/flows/communityOpportunityQuoteFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Admin</name>
        <label>Email Admin</label>
        <locationX>1846</locationX>
        <locationY>588</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_Admin_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>noPrimaryQuote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jason.orbison@viewsonic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>No Primary Quote</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Admin_0_0</name>
        <label>Email Admin</label>
        <locationX>1984</locationX>
        <locationY>590</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jason.orbison@viewsonic.com,viewsonic_bid_desk@viewsonic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Resubmission Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>resubmissionNoteswitherror</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Admin_0_0_0</name>
        <label>Email Admin</label>
        <locationX>1940</locationX>
        <locationY>1104</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jason.orbison@viewsonic.com,viewsonic_bid_desk@viewsonic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Resubmission Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Resumbissionerror2</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>newSpa</name>
        <label>newSpa</label>
        <locationX>1455</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>newQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunityValues.SPA_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunityValues.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spa_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSpaQualified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resubmissionAssignmnet</name>
        <label>resubmissionAssignmnet</label>
        <locationX>1137</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>getSpa.Resubmission_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spa_Resubmission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>spaUpdate</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>addProducts</name>
        <choiceText>Add Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>product</stringValue>
        </value>
    </choices>
    <choices>
        <name>createSpaChoice</name>
        <choiceText>Create Spa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>spa</stringValue>
        </value>
    </choices>
    <decisions>
        <name>addProductsSpaDecision</name>
        <label>addProductsSpaDecision</label>
        <locationX>268</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>QuantityScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateSpaDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Products_or_Just_Create_Spa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>spa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createSpaScreen</targetReference>
            </connector>
            <label>CreateSpaDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfActiveSpaExists</name>
        <label>checkIfActiveSpaExists</label>
        <locationX>50</locationX>
        <locationY>1045</locationY>
        <defaultConnector>
            <targetReference>InactiveSpaLabel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoActive Spas</defaultConnectorLabel>
        <rules>
            <name>ActiveSpa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSpa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Desicision</targetReference>
            </connector>
            <label>ActiveSpa</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkifRecordLocked</name>
        <label>checkifRecordLocked</label>
        <locationX>1086</locationX>
        <locationY>1249</locationY>
        <defaultConnector>
            <targetReference>ScreenResubmission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Unlocked</defaultConnectorLabel>
        <rules>
            <name>RecordLocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>spaLocked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifDistribution</targetReference>
            </connector>
            <label>RecordLocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>createSpaQualified</name>
        <label>createSpaQualified</label>
        <locationX>1487</locationX>
        <locationY>508</locationY>
        <defaultConnectorLabel>Not Qualified for spa</defaultConnectorLabel>
        <rules>
            <name>QualifedforSpa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountType.Account.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createSpa</targetReference>
            </connector>
            <label>QualifedforSpa</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifDistribution</name>
        <label>ifDistribution</label>
        <locationX>1237</locationX>
        <locationY>1186</locationY>
        <defaultConnector>
            <targetReference>ErroMessage_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Distribution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountType.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErroMessage</targetReference>
            </connector>
            <label>Distribution</label>
        </rules>
    </decisions>
    <decisions>
        <name>oppProductsDecision</name>
        <label>oppProductsDecision</label>
        <locationX>1138</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>QuantityScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>noOppProducts</defaultConnectorLabel>
        <rules>
            <name>oppProductsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunityValues.SPA_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductsExist</targetReference>
            </connector>
            <label>oppProductsExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>primaryQuoteExistsDecision</name>
        <label>primaryQuoteExistsDecision</label>
        <locationX>1800</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>PrimaryQuoteBlankScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrimaryQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunityValues.Primary_Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>PrimaryQuote</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuoteExists</name>
        <label>QuoteExists</label>
        <locationX>495</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>oppProductsDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Quote_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunityValues.Count_of_Quotes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSpa</targetReference>
            </connector>
            <label>Quote Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Desicision</name>
        <label>Status Desicision</label>
        <locationX>530</locationX>
        <locationY>1051</locationY>
        <defaultConnector>
            <targetReference>InactiveSpaLabel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive Spa</defaultConnectorLabel>
        <rules>
            <name>Active_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSpa.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getSpa.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkLockApex</targetReference>
            </connector>
            <label>Active Spa</label>
        </rules>
    </decisions>
    <interviewLabel>communityOpportunityQuoteFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>communityOpportunityQuoteFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createSpa</name>
        <label>createSpa</label>
        <locationX>1407</locationX>
        <locationY>687</locationY>
        <connector>
            <targetReference>conrats</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErroMessage</targetReference>
        </faultConnector>
        <inputReference>newQuote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccountType</name>
        <label>getAccountType</label>
        <locationX>612</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunityValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityValues</name>
        <label>getOpportunityValues</label>
        <locationX>936</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuoteExists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErroMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SPA_Products__c</queriedFields>
        <queriedFields>SPA_ID__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>End_User_Lookup_Account__c</queriedFields>
        <queriedFields>Count_of_Quotes__c</queriedFields>
        <queriedFields>Primary_Quote__c</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSpa</name>
        <label>getSpa</label>
        <locationX>182</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfActiveSpaExists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErroMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Resubmission_Notes__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>record_is_locked__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>spaUpdate</name>
        <label>spaUpdate</label>
        <locationX>1328</locationX>
        <locationY>890</locationY>
        <faultConnector>
            <targetReference>ErroMessage</targetReference>
        </faultConnector>
        <inputReference>getSpa</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>addMultipleProducts</name>
        <label>addMultipleProducts</label>
        <locationX>1525</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createSpaScreen</targetReference>
        </connector>
        <fields>
            <name>OppProducts</name>
            <extensionName>c:OpportunityMultiProductAdd</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pid</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quant</name>
                <value>
                    <elementReference>Quanity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pricebookActive</name>
                <value>
                    <stringValue>and Id in (Select product2Id from pricebookentry where isactive = true and Pricebook2Id = &apos;{!getOpportunityValues.Pricebook2Id}&apos;) </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>externalUser</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>checkLockApex</name>
        <label>checkLockApex</label>
        <locationX>808</locationX>
        <locationY>1124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkifRecordLocked</targetReference>
        </connector>
        <fields>
            <name>isRecordlock</name>
            <extensionName>c:flowCheckifRecordLocked</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getSpa.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>spaLocked</assignToReference>
                <name>isLocked</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>conrats</name>
        <label>ScreenCongrats</label>
        <locationX>1302</locationX>
        <locationY>752</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CongratsScreen</name>
            <fieldText>&lt;p&gt;Congratulations, Spa Was created. Bid Desk will notify you if they need any additional info. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>createSpaScreen</name>
        <label>createSpaScreen</label>
        <locationX>1074</locationX>
        <locationY>460</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>newSpa</targetReference>
        </connector>
        <fields>
            <name>spaCreate</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Great! Ready to create a spa. Click Next to create the spa or just pause this and come back later.  &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Add Notes if you choose&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;if you need to add additional products, please refresh page. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountType.Account.Account_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Distributor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Spa_Notes</name>
            <fieldText>Spa Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountType.Account.Account_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Distributor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResellerThanks</name>
            <fieldText>&lt;p&gt;Thanks for your submission. Your Sales Rep will contact you if there are any questions as they speed up the process to get you a quote. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountType.Account.Account_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Distributor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErroMessage</name>
        <label>ErroMessage</label>
        <locationX>1589</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_Admin_0_0_0</targetReference>
        </connector>
        <fields>
            <name>ErroMessage_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ErroMessage_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Issue</name>
                    <fieldText>&lt;p&gt;Sorry, there is an issue with this deal, please ensure that there are notes and click next, it will be emailed to bid desk. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>spaLocked</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LockedRecord</name>
                    <fieldText>&lt;p&gt;This Record is locked, but if you enter your request, we can have the bid desk review. &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>spaLocked</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Resubmission_Note2</name>
                    <defaultValue>
                        <stringValue>{!Spa_Resubmission}</stringValue>
                    </defaultValue>
                    <fieldText>Resubmission Note</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FaultMessage</name>
                    <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountType.Account.Account_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Distributor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErroMessage_0</name>
        <label>ErroMessage</label>
        <locationX>1406</locationX>
        <locationY>1300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErroMessage_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ErroMessage_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>resellermessg_0</name>
                    <fieldText>&lt;p&gt;This record is locked. If you need Assistance, please contact your sales rep. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>contactRep_0</name>
                    <extensionName>c:portalMysalesRep</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountType.Account.Account_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Distributor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InactiveSpaLabel</name>
        <label>InactiveSpaLabel</label>
        <locationX>627</locationX>
        <locationY>1335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>inactiveAlert</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(221, 10, 10); font-size: 22px;&quot;&gt;&lt;u&gt;This SPA is Inactive. A new deal must be created. &lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PrimaryQuoteBlankScreen</name>
        <label>PrimaryQuoteBlankScreen</label>
        <locationX>1669</locationX>
        <locationY>588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_Admin</targetReference>
        </connector>
        <fields>
            <name>QuoteMissing</name>
            <fieldText>&lt;p&gt;Please put in your resubmission notes  below. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Resubmission_Notes</name>
            <fieldText>Resubmission Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductsExist</name>
        <label>ProductsExist</label>
        <locationX>407</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>addProductsSpaDecision</targetReference>
        </connector>
        <fields>
            <name>noSpabutProductsScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;There are Products on this Deal but No Active Spa&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can Create an active spa or you can add products first and then create a spa. What would you like to do?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountType.Account.Account_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Distributor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Products_or_Just_Create_Spa</name>
            <choiceReferences>addProducts</choiceReferences>
            <choiceReferences>createSpaChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add Products or Just Create Spa</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountType.Account.Account_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Distributor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResellerText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;There is no active spa on this deal. You can add products or contact sales rep&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can add more product by clicking next. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To contact your sales rep, go to Support page and click &apos;Request Contact&apos; button on the bottom left side of screen. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountType.Account.Account_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Distributor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>QuantityScreen</name>
        <label>QuantityScreen</label>
        <locationX>1200</locationX>
        <locationY>128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>addMultipleProducts</targetReference>
        </connector>
        <fields>
            <name>QuantiyScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Add Product Quantity&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quanity</name>
            <dataType>Number</dataType>
            <fieldText>Quanity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenResubmission</name>
        <label>ScreenResubmission</label>
        <locationX>734</locationX>
        <locationY>708</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>resubmissionAssignmnet</targetReference>
        </connector>
        <fields>
            <name>spasent</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;There is current Spa. To make any changes, please use Resubmission Notes below. Click Next to Save Notes&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Spa_Resubmission</name>
            <fieldText>Spa Resubmission</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>201</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>getAccountType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>UpdateOppPartnersandOpp</name>
        <label>UpdateOppPartnersandOpp</label>
        <locationX>330</locationX>
        <locationY>630</locationY>
        <connector>
            <targetReference>conrats</targetReference>
        </connector>
        <flowName>QuoteCreatedDistyUpdate</flowName>
        <inputAssignments>
            <name>oppid</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ErrorMessageText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There was an error in the Flow.&lt;/p&gt;&lt;p&gt;Error Message {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Opp Id : {!getOpportunityValues.Id}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>noPrimaryQuote</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There is no Primary Quote for OpportunityId {!getOpportunityValues.Id}&lt;/p&gt;&lt;p&gt;Error Message {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>resubmissionNoteswitherror</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bid Desk there was an error on a resubmission request. Below is the Spa info and the resubmission notes. The error is probably due to no primary quote set up on the opportunity or that the quote is locked for an approval process. Admin has been notified. Meanwhile, here is the note below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Spa  {!getSpa.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Resubmission Notes: {!Resubmission_Notes}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Resumbissionerror2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There was an error on a spa that distribution partner attempted to resubmit. Below are the resubmission notes. The error is probably due to the primary quote not being on the opportunity or it being locked. Admin has been notified.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Spa {!getSpa.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Resubmission Notes: {!Resubmission_Note2}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;error message {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>newQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>spaLocked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
