force-app/main/default/flows/CreateContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>setContactValues</name>
        <label>setContactValues</label>
        <locationX>335</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>doesContactExist.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>doesContactExist.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>doesContactExist.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>doesContactExist.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>doesContactExist.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>doesContactExist.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>doesContactExist.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactUpdate</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>salesteam</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0F9A0000000D3Hw</stringValue>
        </value>
    </constants>
    <constants>
        <name>Viewsonic</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ViewSonic Corporation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DoesContactExists</name>
        <label>DoesContactExistDecision</label>
        <locationX>32</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>CreateContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Contact</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>doesContactExist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setContactValues</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <interviewLabel>CreateContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UserCreateUpdateVSContact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateContact</name>
        <label>CreateContact</label>
        <locationX>59</locationX>
        <locationY>536</locationY>
        <assignRecordIdToReference>Contact</assignRecordIdToReference>
        <connector>
            <targetReference>UserUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acctid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <elementReference>business</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>last</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>user</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserID__c</field>
            <value>
                <elementReference>user</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>doesContactExist</name>
        <label>doesContactExist</label>
        <locationX>313</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesContactExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User_to_create_Contact</name>
        <label>Lookup User to create Contact</label>
        <locationX>344</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Viewsonic_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>business</assignToReference>
            <field>Accounting_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>city</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>country</assignToReference>
            <field>Country</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>name</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>user</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>last</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>mobile</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>zip</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>state</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>street</assignToReference>
            <field>Street</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>title</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Viewsonic_Account_Id</name>
        <label>Viewsonic Account Id</label>
        <locationX>659</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesContactExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Viewsonic</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>acctid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ContactUpdate</name>
        <label>ContactUpdate</label>
        <locationX>550</locationX>
        <locationY>316</locationY>
        <inputReference>doesContactExist</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UserUpdate</name>
        <label>UserUpdate</label>
        <locationX>363</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_ID__c</field>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VSA_Contact_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>update</name>
        <label>update</label>
        <locationX>535</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dde</name>
            <fieldText>&lt;p&gt;Created a Contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Address_Contact</name>
        <label>Update Address Contact</label>
        <locationX>129</locationX>
        <locationY>124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_User_to_create_Contact</targetReference>
        </connector>
        <fields>
            <name>screenUpdateDemos</name>
            <fieldText>&lt;p&gt;Sync User Address to Contact for Evals or if No Contact Exists Create a Contact for Evals&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Address_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>business</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>last</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
