force-app/main/default/flows/DeleteProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>oppidfortestingonly</name>
        <label>oppidfortestingonly</label>
        <locationX>306</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>oppid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0061200000SrIhL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_New_Price_Book</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>asdfasdfasd</name>
        <choiceText>asdfasdfasd</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>opportunityid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0061200000SrIhL</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pricebookentrytest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01uA000000NkQ80IAF</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>PriceBook</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>pbid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>DeleteProducts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DeleteProducts</label>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteLineItems</name>
        <label>DeleteLineItems</label>
        <locationX>45</locationX>
        <locationY>548</locationY>
        <inputReference>DeleteProducts</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Allproductsonopp</name>
        <label>Allproductsonopp</label>
        <locationX>95</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityid</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>DeleteProducts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Select_New_Price_Book</name>
        <label>Select New Price Book</label>
        <locationX>88</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Allproductsonopp</targetReference>
        </connector>
        <fields>
            <name>Price_Book_Name</name>
            <choiceReferences>PriceBook</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Price Book Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>oppidfortestingonly</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Delete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>DeleteLineIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>DeleteProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>newpbeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pbeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pbid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
