force-app/main/default/flows/Distributors_Canada_Add_On.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>Canada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </constants>
    <constants>
        <name>UnitedStates</name>
        <dataType>String</dataType>
        <value>
            <stringValue>United States</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Opportunity_Createdby_Non_Canada_Team</name>
        <label>Opportunity Createdby Non Canada Team</label>
        <locationX>619</locationX>
        <locationY>186</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Canada_Default_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Creator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Canada</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Canada_Team</targetReference>
            </connector>
            <label>Not Canada Default Owner</label>
        </rules>
    </decisions>
    <formulas>
        <name>Creator</name>
        <dataType>String</dataType>
        <expression>{!$User.Country}</expression>
    </formulas>
    <interviewLabel>Distributors Canada  Add On {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Distributors Canada  Add On</label>
    <loops>
        <name>Sobjectaccts</name>
        <label>Sobjectaccts</label>
        <locationX>333</locationX>
        <locationY>76</locationY>
        <assignNextValueToReference>DistiAccount</assignNextValueToReference>
        <collectionReference>ColAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ingram_Micro</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reseller_Partner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Ingram_Micro</name>
        <label>Ingram Micro</label>
        <locationX>638</locationX>
        <locationY>72</locationY>
        <assignRecordIdToReference>ingrampartid</assignRecordIdToReference>
        <connector>
            <targetReference>Sobjectaccts</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Account__c</field>
            <value>
                <elementReference>DistiAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Type__c</field>
            <value>
                <stringValue>Distributor</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Partner__c</object>
    </recordCreates>
    <recordLookups>
        <name>Disti_Accounts_Auto_Create</name>
        <label>Disti Accounts Auto Create</label>
        <locationX>136</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sobjectaccts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auto_Create_Disti__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Canada</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ColAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Spa_Email_List__c</queriedFields>
    </recordLookups>
    <startElementReference>Disti_Accounts_Auto_Create</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Create_Canada_Team</name>
        <label>Create Canada Team</label>
        <locationX>622</locationX>
        <locationY>314</locationY>
        <flowName>Opportunity_Canada_Team</flowName>
        <inputAssignments>
            <name>oppid</name>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ColTeamMembers</assignToReference>
            <name>ColTeamMembers</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Reseller_Partner</name>
        <label>Reseller Partner</label>
        <locationX>333</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>Opportunity_Createdby_Non_Canada_Team</targetReference>
        </connector>
        <flowName>Opporutnity_Reseller_Partner_Contact_Name</flowName>
        <inputAssignments>
            <name>oppid</name>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>resellerid</name>
            <value>
                <elementReference>resellerid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>resellerconid</name>
            <value>
                <elementReference>resellerconid</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ColAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ColTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>DistiAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ingram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ingrampartid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resellerconid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resellerid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
