force-app/main/default/flows/EvalQuoteRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>BillingContactFullName</name>
        <dataType>String</dataType>
        <expression>{!billingFirstName}&amp;&apos; &apos;&amp;{!billingLastName}</expression>
    </formulas>
    <interviewLabel>EvalQuoteRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EvalQuoteRequest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createQuote</name>
        <label>createQuote</label>
        <locationX>702</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>quoteId</assignRecordIdToReference>
        <connector>
            <targetReference>evalRequestUpdate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>There_was_an_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Company_Name__c</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact_Email__c</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact_Name__c</field>
            <value>
                <elementReference>BillingContactFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact_Phone__c</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street__c</field>
            <value>
                <elementReference>street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Zip_Postal__c</field>
            <value>
                <elementReference>zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eval_Request__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>getShippingInfo.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>getShippingInfo.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Postal_Code__c</field>
            <value>
                <elementReference>getShippingInfo.zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>getShippingInfo.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>getShippingInfo.street</elementReference>
            </value>
        </inputAssignments>
        <object>Eval_Quote__c</object>
    </recordCreates>
    <recordLookups>
        <name>getEvalRecord</name>
        <label>getEvalRecord</label>
        <locationX>78</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDemographicsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Eval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>evalRequestUpdate</name>
        <label>evalRequestUpdate</label>
        <locationX>832</locationX>
        <locationY>727</locationY>
        <connector>
            <targetReference>SelectProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_City_Quote__c</field>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Company_Name__c</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact_Email_Invoice__c</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact_Phone__c</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country_Quote__c</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State_Quote__c</field>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street_Quote__c</field>
            <value>
                <elementReference>street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Zip_Quote__c</field>
            <value>
                <elementReference>zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billling_Contact_Name__c</field>
            <value>
                <elementReference>BillingContactFullName</elementReference>
            </value>
        </inputAssignments>
        <object>Eval_Request__c</object>
    </recordUpdates>
    <screens>
        <name>getDemographicsScreen</name>
        <label>getDemographicsScreen</label>
        <locationX>94</locationX>
        <locationY>711</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getShippingInfo</targetReference>
        </connector>
        <fields>
            <name>billingInformation</name>
            <extensionName>c:evalRequestShippingAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>getEvalRecord.Billing_City_Quote__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>getEvalRecord.Billing_Country_Quote__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>email</name>
                <value>
                    <elementReference>getEvalRecord.Billing_Contact_Email_Invoice__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>phone</name>
                <value>
                    <elementReference>getEvalRecord.Billing_Contact_Phone__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postal</name>
                <value>
                    <elementReference>getEvalRecord.Billing_Zip_Quote__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressHistory</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>getEvalRecord.Billing_State_Quote__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>getEvalRecord.Billing_Street_Quote__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>getBillingInfo</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FirstName</name>
                <value>
                    <elementReference>getEvalRecord.Billing_Contact_Name__r.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastName</name>
                <value>
                    <elementReference>getEvalRecord.Billing_Contact_Name__r.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Company</name>
                <value>
                    <elementReference>getEvalRecord.Billing_Contact_Name__r.Account.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>city</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>email</assignToReference>
                <name>email</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>phone</assignToReference>
                <name>phone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>state</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>street</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>zip</assignToReference>
                <name>postal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>billingLastName</assignToReference>
                <name>LastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>billingFirstName</assignToReference>
                <name>FirstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Company</assignToReference>
                <name>Company</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectProducts</name>
        <label>Select Products</label>
        <locationX>757</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>runEvalQuoteRequestUnitUpdate</targetReference>
        </connector>
        <fields>
            <name>EvalUnitTable</name>
            <extensionName>c:EvalRequestUnitsTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showbtn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>header</name>
                <value>
                    <elementReference>Header</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actname</name>
                <value>
                    <stringValue>updateUnits</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowRun</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteid</name>
                <value>
                    <elementReference>quoteId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>There_was_an_Error</name>
        <label>There was an Error</label>
        <locationX>902</locationX>
        <locationY>904</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMssg1</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>getEvalRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Get shipping info based on Oracle info or have it. manually updated. this shipping address should be on both the Quote and The Eval Order after the update.</description>
        <name>getShippingInfo</name>
        <label>getShippingInfo</label>
        <locationX>280</locationX>
        <locationY>727</locationY>
        <connector>
            <targetReference>createQuote</targetReference>
        </connector>
        <flowName>EvalQuotesRequestOracleShipping</flowName>
        <inputAssignments>
            <name>id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>runEvalQuoteRequestUnitUpdate</name>
        <label>runEvalQuoteRequestUnitUpdate</label>
        <locationX>725</locationX>
        <locationY>341</locationY>
        <flowName>EvalQuoteRequestUnitUpdate</flowName>
        <inputAssignments>
            <name>id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quoteid</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>billingFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>billingLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>conAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>conname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donotshowbtn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Select Evals to Send out for Quote</stringValue>
        </value>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
