force-app/main/default/flows/Eval_Order_Cancellation_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Email_Alert</name>
        <label>Cancel Email Alert</label>
        <locationX>368</locationX>
        <locationY>60</locationY>
        <actionName>Eval_Request__c.Eval_Cancellation_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Order_Cancellation_Req_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_Cancellation_Req_Task</name>
        <label>Order Cancellation Req Task</label>
        <locationX>408</locationX>
        <locationY>178</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Sub</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>SFDC System Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>check if record in approval process before trying to cancel</description>
        <name>IsRecordLocked</name>
        <label>IsRecordLocked</label>
        <locationX>250</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Eval_Request_Cancelation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UnlockedRecord</defaultConnectorLabel>
        <rules>
            <name>LockedRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_Eval_is_Locked_for_approval.Locked_for_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Is_Locked</targetReference>
            </connector>
            <label>LockedRecord</label>
        </rules>
    </decisions>
    <formulas>
        <name>Sub</name>
        <dataType>String</dataType>
        <expression>&quot;Cancel Eval Order Request Sent&quot;</expression>
    </formulas>
    <formulas>
        <name>userid</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Eval Order Cancellation Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Eval Order Cancellation Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_if_Eval_is_Locked_for_approval</name>
        <label>Check if Eval is Locked for approval</label>
        <locationX>34</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRecordLocked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Eval_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Locked_for_Approval__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Eval_Request_Cancelation</name>
        <label>Eval Request Cancelation</label>
        <locationX>180</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Cancel_Email_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eval_Process_Stage__c</field>
            <value>
                <stringValue>Cancellation Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Eval_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>579</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmationfield</name>
            <fieldText>Your cancellation request has been sent to the eval team. 

You can click on finish to go back to the evaluation page.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Is_Locked</name>
        <label>Record Is Locked</label>
        <locationX>542</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlertLockedRecord</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(208, 22, 22);&quot;&gt;This record is in an approval process and is locked. Before you can edit or cancel, you must recall the approval request.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;See the instructions below for help recalling if you are unsure how to do this.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;https://www.youtube.com/embed/35ZQlShdwcg&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_Eval_is_Locked_for_approval</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>evalid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EvalRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
