force-app/main/default/flows/Eval_Unit_Returned_or_Purchased.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>All_Evals_Returned_Alert</name>
        <label>All Evals Returned Alert</label>
        <locationX>532</locationX>
        <locationY>294</locationY>
        <actionName>Eval_Request__c.Products_Returned_All</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Calendar_Event_for_Follow_Up</name>
        <label>Create Calendar Event for Follow Up</label>
        <locationX>836</locationX>
        <locationY>419</locationY>
        <actionName>Eval_Request__c.Follow_Up</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Some_Evals_Returned_Alert</name>
        <label>Some Evals Returned Alert</label>
        <locationX>826</locationX>
        <locationY>267</locationY>
        <actionName>Eval_Request__c.Products_Returned_Some</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Calendar_Event_for_Follow_Up</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>testevalid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a0y12000008f8utAAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Status_is_Null</name>
        <label>Status is Closed</label>
        <locationX>821</locationX>
        <locationY>98</locationY>
        <defaultConnector>
            <targetReference>Some_Evals_Returned_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Status_is_not_returned_purchased</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SobjEvalUnit.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Returned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SobjEvalUnit.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchased/Invoiced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SobjEvalUnit.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Write-off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_For_Status_Null</targetReference>
            </connector>
            <label>Status is not returned/purchased</label>
        </rules>
    </decisions>
    <interviewLabel>Eval Unit Returned or Purchased {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Eval Unit Returned or Purchased</label>
    <loops>
        <name>Loop_For_Status_Null</name>
        <label>Loop For Status Null</label>
        <locationX>536</locationX>
        <locationY>98</locationY>
        <assignNextValueToReference>SobjEvalUnit</assignNextValueToReference>
        <collectionReference>ColEvalUnits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_is_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Evals_Returned_Alert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ColAllEvalDetails</name>
        <label>ColAllEvalDetails</label>
        <locationX>303</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_Status_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eval_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </filters>
        <object>Eval_Unit_Details__c</object>
        <outputReference>ColEvalUnits</outputReference>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <startElementReference>ColAllEvalDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>ColEvalUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Eval_Unit_Details__c</objectType>
    </variables>
    <variables>
        <name>evalid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SobjEvalUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Eval_Unit_Details__c</objectType>
    </variables>
</Flow>
