force-app/main/default/flows/Eval_Return_Tracking_Information_Lightning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Customer_Paying_for_Shipping</name>
        <label>Customer Paying for Shipping</label>
        <locationX>1005</locationX>
        <locationY>485</locationY>
        <actionName>Eval_Request__c.Products_to_be_shipped_customer_paying_Tracking_Info</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Eval_Team_Tracking_Info</name>
        <label>Send Eval Team  Tracking Info</label>
        <locationX>999</locationX>
        <locationY>385</locationY>
        <actionName>Eval_Request__c.Products_Shipped_Fed_Ex_Tracking_Info</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Viewsonic_Paying_for_shipping</name>
        <label>Viewsonic Paying for shipping</label>
        <locationX>1008</locationX>
        <locationY>599</locationY>
        <actionName>Eval_Request__c.Products_to_be_shipped_Viewsonic_paying_Tracking_Info</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Collection_Products</name>
        <label>Assign Collection Products</label>
        <locationX>990</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>skutext</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>serialtext</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SobjEvalUnits.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>carriertext</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Carrier_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TrackingText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Sobj_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sobj_to_Collection</name>
        <label>Assign Sobj to Collection</label>
        <locationX>811</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>ColUnitSkus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SobjEvalUnits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UnitUpdte</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_tracking_info_to_sobject</name>
        <label>Assign tracking info to sobject</label>
        <locationX>1191</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>SobjEvalUnits.Return_Tracking_Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Carrier_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Carrierdefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Carrier_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>evalid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SobjEvalUnits.Eval_Request__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjEvalUnits.Return_Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tracking_Number_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjEvalUnits.Return_Shipping_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aprox_Shipped_or_Shipping_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection_Products</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Customer_is_Paying</name>
        <choiceText>Customer is Paying</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Products_Already_Shipped</name>
        <choiceText>Products Already Shipped</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>test</name>
        <choiceText>test</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Viewsonic_is_Paying</name>
        <choiceText>Viewsonic is Paying</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <constants>
        <name>para1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please send invoice to the following customer based on information below</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReqInvoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Requested Invoice by email to eval team</stringValue>
        </value>
    </constants>
    <constants>
        <name>sfdc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>jason.orbison@viewsonic.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Type_of_Return_Information_Submitted</name>
        <label>Type of Return Information Submitted</label>
        <locationX>270</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Units_Alreay_Shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Products_Already_Shipped</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notes</targetReference>
            </connector>
            <label>Units Alreay Shipped</label>
        </rules>
        <rules>
            <name>Customer_is_Paying_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_is_Paying</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notes_0</targetReference>
            </connector>
            <label>Customer is Paying</label>
        </rules>
        <rules>
            <name>Viewsonic_is_Paying_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Viewsonic_is_Paying</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notes_0_0</targetReference>
            </connector>
            <label>Viewsonic is Paying</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Return_Information_Submitted_0</name>
        <label>Type of Return Information Submitted</label>
        <locationX>350</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Tracking_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submit Shipping Information</defaultConnectorLabel>
        <rules>
            <name>Viewsonic_is_Paying_Decision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Viewsonic_is_Paying</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Collection_item</targetReference>
            </connector>
            <label>Viewsonic is Paying</label>
        </rules>
    </decisions>
    <formulas>
        <name>carriertext</name>
        <dataType>String</dataType>
        <expression>&quot;Carrier: &quot;</expression>
    </formulas>
    <formulas>
        <name>SameTracking</name>
        <dataType>String</dataType>
        <expression>if({!same}=true,{!tracking},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>serialtext</name>
        <dataType>String</dataType>
        <expression>&quot; Serial Number &quot;</expression>
    </formulas>
    <formulas>
        <name>skutext</name>
        <dataType>String</dataType>
        <expression>&quot;SKU &quot;</expression>
    </formulas>
    <formulas>
        <name>space</name>
        <dataType>String</dataType>
        <expression>&quot; &quot;</expression>
    </formulas>
    <formulas>
        <name>TrackingInfo</name>
        <dataType>String</dataType>
        <expression>&quot;Tracking Info for returned Eval Request Sent&quot;</expression>
    </formulas>
    <formulas>
        <name>TrackingText</name>
        <dataType>String</dataType>
        <expression>&quot;Tracking # &quot;</expression>
    </formulas>
    <formulas>
        <name>Userflowemail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <interviewLabel>Eval Return Tracking Information Lightning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Eval Return Tracking Information Lightning</label>
    <loops>
        <name>Loop_Through_Collection_item</name>
        <label>Loop Through Collection item</label>
        <locationX>541</locationX>
        <locationY>139</locationY>
        <assignNextValueToReference>SobjEvalUnits</assignNextValueToReference>
        <collectionReference>ColEvalUnits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1168</locationX>
        <locationY>389</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TrackingInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0</name>
        <label>Create Task</label>
        <locationX>1175</locationX>
        <locationY>479</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TrackingInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0_0</name>
        <label>Create Task</label>
        <locationX>1183</locationX>
        <locationY>599</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TrackingInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Getrma</name>
        <label>Getrma</label>
        <locationX>257</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Shipping_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <object>Eval_Request__c</object>
        <outputAssignments>
            <assignToReference>evalname</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RMA</assignToReference>
            <field>RMA__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetTheEvalUnits</name>
        <label>GetTheEvalUnits</label>
        <locationX>180</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getrma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eval_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Selected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Eval_Unit_Details__c</object>
        <outputReference>ColEvalUnits</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SKU__c</queriedFields>
        <queriedFields>Sku_Text__c</queriedFields>
        <queriedFields>Unit_Selected__c</queriedFields>
        <queriedFields>Eval_Request__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Product_name</name>
        <label>Product name</label>
        <locationX>838</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_tracking_info_to_sobject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SobjEvalUnits.SKU__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>productname</assignToReference>
            <field>ProductCode</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UnitUpdte</name>
        <label>UnitUpdte</label>
        <locationX>690</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Loop_Through_Collection_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SobjEvalUnits.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Selected__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Eval_Unit_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>542</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>Type_of_Return_Information_Submitted</targetReference>
        </connector>
        <inputReference>ColUnitSkus</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateEval</name>
        <label>updateEval</label>
        <locationX>648</locationX>
        <locationY>343</locationY>
        <connector>
            <targetReference>Email_body</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EvalReturn_Notes__c</field>
            <value>
                <elementReference>Notess</elementReference>
            </value>
        </inputAssignments>
        <object>Eval_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateEval_0</name>
        <label>updateEval</label>
        <locationX>682</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Email_body_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EvalReturn_Notes__c</field>
            <value>
                <elementReference>Notess_0</elementReference>
            </value>
        </inputAssignments>
        <object>Eval_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateEval_0_0</name>
        <label>updateEvalq</label>
        <locationX>592</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>Email_body_1_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EvalReturn_Notes__c</field>
            <value>
                <elementReference>Notess_0_0</elementReference>
            </value>
        </inputAssignments>
        <object>Eval_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Email_body</name>
        <label>Email body</label>
        <locationX>802</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Eval_Team_Tracking_Info</targetReference>
        </connector>
        <fields>
            <name>ConfirmationPage</name>
            <fieldText>{!Confirmation}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Body</name>
            <fieldText>Please verify receipt of all products for RMA # {!RMA} and Eval Request Number {!evalname}. The products that are marked as returned are listed below. The tracking number(s) is/are given below products. 

Product(s) and Serial Number(s) and Tracking Info: 
{!Products}

Tracking Number(s):

{!Tracking_Number_s}

Aprox Ship Date:
{!Aprox_Shipped_or_Shipping_Date}

Notes: 
{!Notess}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>By clicking Next this email body will be sent to the Eval team.</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_body_1</name>
        <label>Email body</label>
        <locationX>849</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Paying_for_Shipping</targetReference>
        </connector>
        <fields>
            <name>ConfirmationPage_1</name>
            <fieldText>{!Confirmation}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Body_1</name>
            <fieldText>Customer will return the products shortly. I have provided tracking information, if I have it. The date below is the estimated send date. RMA # {!RMA} and Eval Request Number {!evalname}. The products listed below are the products to be returned. 

Product(s) and Serial Number(s) and Tracking Info: 
{!Products}

Tracking Number(s):

{!Tracking_Number_s}

Aprox Ship Date:
{!Aprox_Shipped_or_Shipping_Date}

Notes: 
{!Notess_0}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>By clicking Next this email body will be sent to the Eval team.</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_body_1_1</name>
        <label>Email body</label>
        <locationX>746</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Viewsonic_Paying_for_shipping</targetReference>
        </connector>
        <fields>
            <name>ConfirmationPage_1_1</name>
            <fieldText>{!Confirmation}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Body_1_1</name>
            <fieldText>You have requested that Viewsonic pay for shipping and get tracking information to the customer. This request will be sent to the eval team once you click on next.

 RMA # {!RMA} and Eval Request Number {!evalname}. The products listed below are the products to be returned. 

Product(s) and Serial Number(s) and Tracking Info: 
{!Products}

Notes: 
{!Notess_0_0}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>By clicking Next this email body will be sent to the Eval team.</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notes</name>
        <label>Notes</label>
        <locationX>513</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateEval</targetReference>
        </connector>
        <fields>
            <name>Notess</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notes_0</name>
        <label>Notes</label>
        <locationX>542</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateEval_0</targetReference>
        </connector>
        <fields>
            <name>Notess_0</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notes_0_0</name>
        <label>Notes</label>
        <locationX>385</locationX>
        <locationY>626</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateEval_0_0</targetReference>
        </connector>
        <fields>
            <name>Notess_0_0</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Return_Shipping_Selection</name>
        <label>Return Shipping Selection</label>
        <locationX>383</locationX>
        <locationY>21</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_of_Return_Information_Submitted_0</targetReference>
        </connector>
        <fields>
            <name>What_do_you_want_to_do_with_shipping</name>
            <choiceReferences>Customer_is_Paying</choiceReferences>
            <choiceReferences>Viewsonic_is_Paying</choiceReferences>
            <choiceReferences>Products_Already_Shipped</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>What do you want to do with shipping?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tracking_Information</name>
        <label>Tracking Information</label>
        <locationX>609</locationX>
        <locationY>3</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Collection_item</targetReference>
        </connector>
        <fields>
            <name>InstructionsTracking</name>
            <fieldText>{!Instructions}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Carrier_Name</name>
            <dataType>String</dataType>
            <fieldText>Carrier Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Aprox_Shipped_or_Shipping_Date</name>
            <dataType>Date</dataType>
            <fieldText>Aprox Shipped or Shipping Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tracking_Number_s</name>
            <fieldText>Tracking Number(s)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetTheEvalUnits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Confirmation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please Confirm that all information below is correct before clicking next. This is the final step.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;You can go back in the browser to update any information. &lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please send an invoice for RMA # {!RMA} and Eval Request Number &lt;FONT KERNING=&quot;1&quot;&gt;text({!evalname})&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Instructions for tracking info</description>
        <name>Instructions</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Since each sku could have a different tracking number, you should enter all tracking numbers in the Tracking Number(s) field. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you do not have any tracking information, please put no tracking info in the &lt;FONT KERNING=&quot;1&quot;&gt;Tracking Number(s) field. &lt;/FONT&gt; &lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please send an invoice for RMA # {!RMA} and Eval Request Number {!evalname}</text>
    </textTemplates>
    <variables>
        <name>address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Carrierdefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ColEvalUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Eval_Unit_Details__c</objectType>
    </variables>
    <variables>
        <name>ColUnitSkus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Eval_Unit_Details__c</objectType>
    </variables>
    <variables>
        <name>company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>evalid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>evalname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>prevtracking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Products</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RMA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>same</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Serial</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sku1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SobjEvalUnits</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Eval_Unit_Details__c</objectType>
    </variables>
    <variables>
        <name>tracking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
