force-app/main/default/flows/Event_Trigger_Stock_Report_Header_RollUp_Record_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Point</name>
        <label>Check Point</label>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Get_Child_SRs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Pass Decision : Check Get_Child_SRs</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>wayne.kw.chung@viewsonic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Pass Decision : Check Get_Child_SRs</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Check_Update_SR_Update_Cols_0</name>
        <label>Check Update_SR_Update_Cols</label>
        <locationX>50</locationX>
        <locationY>1370</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Record_Count</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Update_SR_Update_Cols</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>wayne.kw.chung@viewsonic.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Check Update_SR_Update_Cols</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Record_Count</name>
        <label>Assign Record Count</label>
        <locationX>138</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>Record_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SR_Update_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SR_Update_Col</name>
        <label>Assign SR_Update_Col</label>
        <locationX>138</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>SR_Update_Col.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_Child_SRs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SR_Update_Col.Stock_Report_Header__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SR_Update_Cols</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SR_Update_Cols</name>
        <label>Assign SR_Update_Cols</label>
        <locationX>138</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>SR_Update_Cols</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SR_Update_Col</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Child_SRs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Get_Child_SRs</name>
        <label>Check Get_Child_SRs</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_SRs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Point</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Event Trigger_Stock Report Header_RollUp_Record_Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Trigger_Stock Report Header_RollUp_Record_Count</label>
    <loops>
        <name>Loop_Get_Child_SRs</name>
        <label>Loop Get_Child_SRs</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Child_SRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SR_Update_Cols</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_SRs</name>
        <label>Get Child SRs</label>
        <locationX>182</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Child_SRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>import_file__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SRH.Import_File__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Stock_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SRH</name>
        <label>Get SRH</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_SRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stock_Report_Header__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_Count</name>
        <label>Update Record Count</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Record_Count__c</field>
            <value>
                <elementReference>Record_Count</elementReference>
            </value>
        </inputAssignments>
        <object>Stock_Report_Header__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SR_Update_Cols</name>
        <label>Update SR_Update_Cols</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>Check_Update_SR_Update_Cols_0</targetReference>
        </connector>
        <inputReference>SR_Update_Cols</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SRH</targetReference>
        </connector>
        <object>Stock_Report_Header_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Record_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SR_Update_Col</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Stock_Report__c</objectType>
    </variables>
    <variables>
        <name>SR_Update_Cols</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Stock_Report__c</objectType>
    </variables>
    <variables>
        <name>STR_Update_Col</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sell_Through_Report__c</objectType>
    </variables>
    <variables>
        <name>STR_Update_Cols</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sell_Through_Report__c</objectType>
    </variables>
</Flow>
