force-app/main/default/flows/HardCodeOwneriD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>Viewsonic</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0011200001Dq2NA</stringValue>
        </value>
    </constants>
    <formulas>
        <name>NewOwnerName</name>
        <dataType>String</dataType>
        <expression>{!New_Owner}</expression>
    </formulas>
    <interviewLabel>Change Evaluation Owners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Evaluation Owners</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>ContactOwnerLookup</name>
        <label>ContactOwnerLookup</label>
        <locationX>103</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>evalowner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Viewsonic</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOwnerName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>conid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>evalowner</name>
        <label>evalowner</label>
        <locationX>98</locationX>
        <locationY>376</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>evalid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Evaluation_Owner__c</field>
            <value>
                <elementReference>conid</elementReference>
            </value>
        </inputAssignments>
        <object>Eval_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Evaluation_Owner</name>
        <label>Evaluation &amp; Owner</label>
        <locationX>107</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ContactOwnerLookup</targetReference>
        </connector>
        <fields>
            <name>New_Owner</name>
            <dataType>String</dataType>
            <fieldText>New Owner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Evaluation_Owner</startElementReference>
    <status>Active</status>
    <variables>
        <name>conid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>createid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>evalid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EvalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
