force-app/main/default/flows/Login_UserDemos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignValues</name>
        <label>assignValues</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>getUser.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_0.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getUser.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_0.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getUser.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userAddress_0.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getUser.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userAddress_0.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getUser.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userAddress_0.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getUser.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userAddress_0.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getUser.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userAddress_0.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getUser.LoginFlow_DemoUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateUser</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>userDemosSet</name>
        <label>userDemosSet</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>demosNotSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUser.LoginFlow_DemoUpdate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_Verify_your_Address_0</targetReference>
            </connector>
            <label>demosNotSet</label>
        </rules>
    </decisions>
    <interviewLabel>Login_UserDemos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Login_UserDemos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>userDemosSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateUser</name>
        <label>updateUser</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputReference>getUser</inputReference>
    </recordUpdates>
    <screens>
        <name>Please_Verify_your_Address_0</name>
        <label>Please Verify your Address</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignValues</targetReference>
        </connector>
        <fields>
            <name>verifyHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please Verify Your Address. This will be used for Evaluation Demo Products that will be shipped to you.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>userAddress_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>getUser.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>getUser.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>getUser.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>getUser.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>getUser.Street</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone_0</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>getUser.Phone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mobile_0</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>getUser.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
