force-app/main/default/flows/NewOpplineItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_NewOpportunityLineItem</name>
        <label>Assign NewOpportunityLineItem</label>
        <locationX>330</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>NewAsset.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunitytestid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAsset.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewProdPBEID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatetheOpplinecollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatetheOpplinecollection</name>
        <label>UpdatetheOpplinecollection</label>
        <locationX>319</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>CollectionNewOppLIneItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughLineItems</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>opportunitytestid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0061200000SrIhL</stringValue>
        </value>
    </constants>
    <constants>
        <name>price</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>quantity</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <interviewLabel>NewOpplineItems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewOpplineItems</label>
    <loops>
        <name>LoopThroughLineItems</name>
        <label>LoopThroughLineItems</label>
        <locationX>91</locationX>
        <locationY>188</locationY>
        <assignNextValueToReference>NewProdPBEID</assignNextValueToReference>
        <collectionReference>ColPriceBookEntryID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_NewOpportunityLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Createopplineitems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Createopplineitems</name>
        <label>Createopplineitems</label>
        <locationX>94</locationX>
        <locationY>346</locationY>
        <inputReference>CollectionNewOppLIneItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>PriceBookEntryIds</name>
        <label>PriceBookEntryIds</label>
        <locationX>90</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pbid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productid</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>ColPriceBookEntryID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>PriceBookEntryIds</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CollectionNewOppLIneItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ColPriceBookEntryID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>NewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NewProdPBEID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
