force-app/main/default/flows/onboardingUserPermssionsScreens.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>groupAssginment</name>
        <label>groupAssginment</label>
        <locationX>273</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>groupMember.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GA0000003wSoSMAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupMember.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>groupMemberCreation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>groupAssginment_0</name>
        <label>groupAssginment</label>
        <locationX>525</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>groupMember2.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F91H000000PVGISA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupMember2.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenPermissionSet_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AnalyticsPermissionSet</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PS1H000000LjEh</stringValue>
        </value>
    </constants>
    <constants>
        <name>ApexPersmissionSetId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PS1H000000lcbH</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AnalyticsLicenseDecision</name>
        <label>AnalyticsLicenseDecision</label>
        <locationX>222</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>screenPermissionSet_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AnaltyicsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Anayltics</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePermissionSet_0</targetReference>
            </connector>
            <label>AnaltyicsYes</label>
        </rules>
    </decisions>
    <formulas>
        <name>WaitTime</name>
        <dataType>DateTime</dataType>
        <expression>now()-(59/1440)</expression>
    </formulas>
    <interviewLabel>onboardingUserPermssionsScreens {!$Flow.CurrentDateTime}</interviewLabel>
    <label>onboardingUserPermssionsScreens</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreatePermissionSet</name>
        <label>CreatePermissionSet</label>
        <locationX>696</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>screenPermissionSet_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenPermissionSet_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>ApexPersmissionSetId</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordCreates>
        <name>CreatePermissionSet_0</name>
        <label>CreatePermissionSet</label>
        <locationX>675</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>screenPermissionSet_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenPermissionSet_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>AnalyticsPermissionSet</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordCreates>
        <name>groupMember2Creation</name>
        <label>groupMember2Creation</label>
        <locationX>720</locationX>
        <locationY>625</locationY>
        <connector>
            <targetReference>screenPermissionSet_0_0_0_0_0</targetReference>
        </connector>
        <inputReference>groupMember2</inputReference>
    </recordCreates>
    <recordCreates>
        <name>groupMemberCreation</name>
        <label>groupMemberCreation</label>
        <locationX>707</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>screenPermissionSet_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenPermissionSet_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>groupMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>ModalsCustomPermission</name>
        <label>ModalsCustomPermission</label>
        <locationX>693</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>screenPermissionSet_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenPermissionSet_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Counter__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>yesterday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SetupOwnerId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>LightningTutorial__c</object>
    </recordCreates>
    <screens>
        <name>screenPermissionSet</name>
        <label>screenPermissionSet</label>
        <locationX>386</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreatePermissionSet</targetReference>
        </connector>
        <fields>
            <name>permissionset</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Onboarding - Add Permission Sets, add to groups, add custom settings, and create Contact for Eval Demo Requests. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If there is already the permission set added, you will get error message but can continue with other parts of the flow. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenPermissionSet_0</name>
        <label>screenPermissionSet</label>
        <locationX>61</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ModalsCustomPermission</targetReference>
        </connector>
        <fields>
            <name>permissionset_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Click Next to Add Modal Settings&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;error in &lt;/b&gt;&lt;b style=&quot;font-size: 14.000000953674316px;&quot;&gt;previous: {!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenPermissionSet_0_0</name>
        <label>screenPermissionSet</label>
        <locationX>63</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AnalyticsLicenseDecision</targetReference>
        </connector>
        <fields>
            <name>permissionset_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Analytics Permission ? &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;error in &lt;/b&gt;&lt;b style=&quot;font-size: 14.000000953674316px; color: rgb(62, 62, 60);&quot;&gt;previous: {!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Anayltics</name>
            <dataType>Boolean</dataType>
            <fieldText>Analytics</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenPermissionSet_0_0_0</name>
        <label>screenPermissionSet</label>
        <locationX>63</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>groupAssginment</targetReference>
        </connector>
        <fields>
            <name>permissionset_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Click Next to Add to Groups&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;error in &lt;/b&gt;&lt;b style=&quot;font-size: 14.000000953674316px; color: rgb(62, 62, 60);&quot;&gt;previous: {!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenPermissionSet_0_0_0_0</name>
        <label>screenPermissionSet</label>
        <locationX>63</locationX>
        <locationY>713</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>groupAssginment_0</targetReference>
        </connector>
        <fields>
            <name>permissionset_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Click Next to Add to Group 2&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;errors: {!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenPermissionSet_0_0_0_0_0</name>
        <label>screenPermissionSet</label>
        <locationX>7</locationX>
        <locationY>864</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>permissionset_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screenPermissionSet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Analytics</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>groupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>groupMember2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <description>detemines if they get analytics license</description>
        <name>ProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>yesterday</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
