force-app/main/default/flows/OppAddAlmoDistributor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Del_Accounts</name>
        <label>Del Accounts</label>
        <locationX>239</locationX>
        <locationY>48</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_if_account_belongs_to_Del</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>delid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distributor_Almo</targetReference>
            </connector>
            <label>Check if account belongs to Del</label>
        </rules>
    </decisions>
    <formulas>
        <name>almorecid</name>
        <dataType>String</dataType>
        <expression>&quot;001A000000d1csa&quot;</expression>
    </formulas>
    <formulas>
        <name>delid</name>
        <dataType>String</dataType>
        <expression>&quot;005A0000000TGUiIAO&quot;</expression>
    </formulas>
    <interviewLabel>OppAddAlmoDistributor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OppAddAlmoDistributor</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Distributor_Almo</name>
        <label>Distributor Almo</label>
        <locationX>491</locationX>
        <locationY>46</locationY>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Account__c</field>
            <value>
                <elementReference>almorecid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Type__c</field>
            <value>
                <stringValue>Distributor</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity_Partner__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Reseller_Owner</name>
        <label>Account Reseller Owner</label>
        <locationX>67</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Del_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>partid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ownerid</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Account_Reseller_Owner</startElementReference>
    <status>Active</status>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>partid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
