force-app/main/default/flows/OpportunitySpaAddAccessories.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_OppLineItems_Collection</name>
        <label>Add To OppLineItems Collection</label>
        <locationX>443</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>NewLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SobjLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accessories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigne_Oppline_Item</name>
        <label>Assigne Oppline Item</label>
        <locationX>628</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>SobjLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pbeid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_OppLineItems_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>oppidass</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0061200000UVCEi</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_product_is_active</name>
        <label>Check if product is active</label>
        <locationX>619</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Accessories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PBE is Inactive</defaultConnectorLabel>
        <rules>
            <name>PBE_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigne_Oppline_Item</targetReference>
            </connector>
            <label>PBE is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_is_not_Null</name>
        <label>Collection is not Null</label>
        <locationX>198</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Collection_has_line_items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Line_Items</targetReference>
            </connector>
            <label>Collection has line items</label>
        </rules>
    </decisions>
    <interviewLabel>OpportunitySpaAddAccessories {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunitySpaAddAccessories</label>
    <loops>
        <name>Loop_Through_Accessories</name>
        <label>Loop Through Accessories</label>
        <locationX>257</locationX>
        <locationY>41</locationY>
        <assignNextValueToReference>AccessorySobj</assignNextValueToReference>
        <collectionReference>AccessoryCol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Price_Book_Entry_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_is_not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Line_Items</name>
        <label>Create Line Items</label>
        <locationX>207</locationX>
        <locationY>345</locationY>
        <inputReference>NewLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Accessories</name>
        <label>Get All Accessories</label>
        <locationX>62</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Accessories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Main_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prodid</elementReference>
            </value>
        </filters>
        <object>Accessories__c</object>
        <outputReference>AccessoryCol</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Main_Product__c</queriedFields>
        <queriedFields>Accessory_Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry_Id</name>
        <label>Get Price Book Entry Id</label>
        <locationX>440</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_product_is_active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricebook</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccessorySobj.Accessory_Product__c</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>pbeid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>active</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ListPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>23</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Accessories</targetReference>
        </connector>
        <fields>
            <name>WelcomeScreen</name>
            <fieldText>Please Standby while your Products and Partners are loaded. 

Next screen will allow you to remove products and/or partners before requesting a SPA</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Welcome</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AccessoryCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accessories__c</objectType>
    </variables>
    <variables>
        <name>AccessoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccessorySobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accessories__c</objectType>
    </variables>
    <variables>
        <name>active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ColAccessories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accessories__c</objectType>
    </variables>
    <variables>
        <name>entryid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NewLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pbeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pricebookname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>prodid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductsCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SalesPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SobjAccessories</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accessories__c</objectType>
    </variables>
    <variables>
        <name>SobjLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
