force-app/main/default/flows/Opportunity_Partner_Add_Reseller_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Opportunity Partner Add Reseller Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Partner Add Reseller Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Opportunity_Contact_role</name>
        <label>Opportunity Contact role</label>
        <locationX>467</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Opportunity_Contact_role_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>conid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Reseller/VAR</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Opportunity_Contact_role_0</name>
        <label>Opportunity Contact role</label>
        <locationX>619</locationX>
        <locationY>58</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>conid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Reseller Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Role__c</object>
    </recordCreates>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>50</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Partner_Contact_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conid</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>conemail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>conname</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>conph</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Opp_Partner_Contact_Info</name>
        <label>Opp Partner Contact Info</label>
        <locationX>288</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Opportunity_Contact_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>partid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>conemail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>conname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Phone__c</field>
            <value>
                <elementReference>conph</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Partner__c</object>
    </recordUpdates>
    <startElementReference>Contact</startElementReference>
    <status>Draft</status>
    <variables>
        <name>conemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>conid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>conname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>conph</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>partid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
