force-app/main/default/flows/Opportunity_Contact_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>fourteen</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>14.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Contact_Check</name>
        <label>Contact Check</label>
        <locationX>580</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Verify_EndUserConId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Already Exists</defaultConnectorLabel>
        <rules>
            <name>Contact_does_not_exis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SobjColId.Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Rconid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Through_Collections</targetReference>
            </connector>
            <label>Contact does not exis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Check_0</name>
        <label>Contact Check</label>
        <locationX>860</locationX>
        <locationY>327</locationY>
        <defaultConnectorLabel>Contact Already Exists</defaultConnectorLabel>
        <rules>
            <name>Contact_does_not_exis_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SobjEUConids.Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>euconid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Through_Collections_0</targetReference>
            </connector>
            <label>Contact does not exis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_EndUserConId</name>
        <label>Verify End User ConId</label>
        <locationX>73</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Conid_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eulen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fourteen</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Contact_Roles_0</targetReference>
            </connector>
            <label>EUConid Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_ResellerConId</name>
        <label>Verify ResellerConId</label>
        <locationX>74</locationX>
        <locationY>36</locationY>
        <defaultConnector>
            <targetReference>Verify_EndUserConId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Conid_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rconlen</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fourteen</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Contact_Roles</targetReference>
            </connector>
            <label>RConid Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>eulen</name>
        <dataType>Number</dataType>
        <expression>len({!euconid})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>rconlen</name>
        <dataType>Number</dataType>
        <expression>len({!Rconid})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity Contact Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Contact Id</label>
    <loops>
        <name>Through_Collections</name>
        <label>Through Collections</label>
        <locationX>599</locationX>
        <locationY>34</locationY>
        <assignNextValueToReference>SobjColId</assignNextValueToReference>
        <collectionReference>CollectionConIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Contact_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_Collections_0</name>
        <label>Through Collections</label>
        <locationX>585</locationX>
        <locationY>335</locationY>
        <assignNextValueToReference>SobjEUConids</assignNextValueToReference>
        <collectionReference>ColEUOppConids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_Check_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Contact_Role_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Contact_Role</name>
        <label>Add Contact Role</label>
        <locationX>300</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>Add_Contact_Role_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Rconid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Reseller Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Role__c</object>
    </recordCreates>
    <recordCreates>
        <name>Add_Contact_Role_0</name>
        <label>Add Contact Role</label>
        <locationX>572</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Add_Contact_Role_0_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>euconid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>End User Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Role__c</object>
    </recordCreates>
    <recordCreates>
        <name>Add_Contact_Role_0_1</name>
        <label>Add Contact Role</label>
        <locationX>383</locationX>
        <locationY>520</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>euconid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>End User</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Add_Contact_Role_1</name>
        <label>Add Contact Role</label>
        <locationX>189</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Verify_EndUserConId</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Rconid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Reseller/VAR</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Contact_Roles</name>
        <label>Get Current Contact Roles</label>
        <locationX>385</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <object>Contact_Role__c</object>
        <outputReference>CollectionConIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Contact_Roles_0</name>
        <label>Get Current Contact Roles</label>
        <locationX>383</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_Collections_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <object>Contact_Role__c</object>
        <outputReference>ColEUOppConids</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <startElementReference>Verify_ResellerConId</startElementReference>
    <status>Active</status>
    <variables>
        <name>ColEUOppConids</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>CollectionConIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>euconid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rconid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SobjColId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>SobjEUConids</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact_Role__c</objectType>
    </variables>
</Flow>
