force-app/main/default/flows/Opportunity_Canada_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>GroupMembers</name>
        <label>Col Group Members</label>
        <locationX>709</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>ColTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SobjNewTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GroupMembers_0</name>
        <label>Col Group Members</label>
        <locationX>458</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>ColTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SobjNewTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCanadaTeam_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sobj_coll_group_members_to_team_members</name>
        <label>Sobj coll group members to team members</label>
        <locationX>713</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>SobjNewTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjNewTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjNewTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canada Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjNewTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SobjGroupMembers.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GroupMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sobj_coll_group_members_to_team_members_0</name>
        <label>Sobj coll group members to team members</label>
        <locationX>467</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>SobjNewTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjNewTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjNewTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Creator</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjNewTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GroupMembers_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Canada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </constants>
    <constants>
        <name>Canadagroupid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G12000003xI1rEAE</stringValue>
        </value>
    </constants>
    <constants>
        <name>Colleenbrowne</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005A0000000Qdxf</stringValue>
        </value>
    </constants>
    <constants>
        <name>Country</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </constants>
    <constants>
        <name>testoppid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00621000002PPZM</stringValue>
        </value>
    </constants>
    <formulas>
        <name>CreaterCountry</name>
        <dataType>String</dataType>
        <expression>{!$User.Country}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity Canada Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Canada Team</label>
    <loops>
        <name>Loop_All_Group_Members</name>
        <label>Loop All Group Members</label>
        <locationX>497</locationX>
        <locationY>71</locationY>
        <assignNextValueToReference>SobjGroupMembers</assignNextValueToReference>
        <collectionReference>ColCandaGroupId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sobj_coll_group_members_to_team_members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sobj_coll_group_members_to_team_members_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCanadaTeam_0</name>
        <label>CreateCanadaTeam</label>
        <locationX>463</locationX>
        <locationY>421</locationY>
        <inputReference>ColTeamMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Getallmembers_of_Canada_group</name>
        <label>Getallmembers of Canada group</label>
        <locationX>295</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Canadagroupid</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>ColCandaGroupId</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <startElementReference>Getallmembers_of_Canada_group</startElementReference>
    <status>Active</status>
    <variables>
        <name>ColAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ColCanadaGroup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>ColCandaGroupId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>ColTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>ColUserId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>DistiAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ingram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ingrampartid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resellerconid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resellerid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SobCanadaGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>SobjGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>SobjNewTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>SobjUserIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
