force-app/main/default/flows/OpportunityClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>OpportunityId</name>
        <label>OpportunityId</label>
        <locationX>1322</locationX>
        <locationY>3</locationY>
        <assignmentItems>
            <assignToReference>OldOppitems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatedCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpportunityId_0</name>
        <label>OpportunityId</label>
        <locationX>591</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>OldOppitems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldOppitems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pbeid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatedCollection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpportunityId_1</name>
        <label>OpportunityId</label>
        <locationX>1028</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>OldOppitems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldOppitems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatedCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatedCollection</name>
        <label>UpdatedCollection</label>
        <locationX>1060</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>NewCreatedOpplineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OldOppitems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OldOppitemsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatedCollection_0</name>
        <label>UpdatedCollection</label>
        <locationX>587</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>NewCreatedOpplineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OldOppitems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OldOppitemsLoop_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_promo_spa</name>
        <label>Check if promo spa</label>
        <locationX>1030</locationX>
        <locationY>39</locationY>
        <defaultConnector>
            <targetReference>OpportunityId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Promo_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quan</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>zero</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityId_1</targetReference>
            </connector>
            <label>Promo spa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Price_Book_Changed</name>
        <label>Has Price Book Changed</label>
        <locationX>378</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>OpplineItemsOld_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Price_Book_has_not_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pbid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oldpbid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpplineItemsOld</targetReference>
            </connector>
            <label>Price Book has not changed</label>
        </rules>
    </decisions>
    <formulas>
        <name>one</name>
        <dataType>String</dataType>
        <expression>&quot;1&quot;</expression>
    </formulas>
    <formulas>
        <name>zero</name>
        <dataType>Number</dataType>
        <expression>0</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>OpportunityClone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityClone</label>
    <loops>
        <name>OldOppitemsLoop</name>
        <label>OldOppitemsLoop</label>
        <locationX>834</locationX>
        <locationY>58</locationY>
        <assignNextValueToReference>OldOppitems</assignNextValueToReference>
        <collectionReference>OldOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_promo_spa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NewOpplineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OldOppitemsLoop_0</name>
        <label>OldOppitemsLoop</label>
        <locationX>378</locationX>
        <locationY>307</locationY>
        <assignNextValueToReference>OldOppitems</assignNextValueToReference>
        <collectionReference>OldOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PricebookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NewOpplineItems_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewOpplineItems</name>
        <label>NewOpplineItems</label>
        <locationX>886</locationX>
        <locationY>240</locationY>
        <inputReference>NewCreatedOpplineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>NewOpplineItems_0</name>
        <label>NewOpplineItems</label>
        <locationX>204</locationX>
        <locationY>505</locationY>
        <inputReference>NewCreatedOpplineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Old_Opportunity_Price_Book</name>
        <label>Old Opportunity Price Book</label>
        <locationX>112</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Clone_Field_and_Old_opp_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldoppid</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>oldpbid</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OpplineItemsOld</name>
        <label>OpplineItemsOld</label>
        <locationX>673</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OldOppitemsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldoppid</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OldOppLineItems</outputReference>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Competitive_Info__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>OpplineItemsOld_0</name>
        <label>OpplineItemsOld</label>
        <locationX>378</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OldOppitemsLoop_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldoppid</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OldOppLineItems</outputReference>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Competitive_Info__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PricebookEntry</name>
        <label>PricebookEntry</label>
        <locationX>592</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityId_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pbid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldOppitems.Product2Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>pbeid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Clone_Field_and_Old_opp_id</name>
        <label>Remove Clone Field and Old opp id</label>
        <locationX>134</locationX>
        <locationY>185</locationY>
        <connector>
            <targetReference>Has_Price_Book_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Spa__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Old_Opportunity_Price_Book</startElementReference>
    <status>Active</status>
    <variables>
        <name>NewCreatedOpplineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oldoppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OldOppitems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OldOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oldpbid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pbeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pbid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>promospa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quan</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
