force-app/main/default/flows/OpportunityStage_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>NewStage</name>
        <label>NewStage</label>
        <locationX>555</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>SobjOpps.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportuntiy_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjOpps.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spa_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StageNametoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StageNametoCollection</name>
        <label>StageNametoCollection</label>
        <locationX>559</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>ColUpdatedOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SobjOpps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopColOpps</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Spatype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>OpportunityStage Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityStage Update</label>
    <loops>
        <name>LoopColOpps</name>
        <label>LoopColOpps</label>
        <locationX>337</locationX>
        <locationY>44</locationY>
        <assignNextValueToReference>SobjOpps</assignNextValueToReference>
        <collectionReference>ColOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NewStage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opps_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Opps_Update</name>
        <label>Opps Update</label>
        <locationX>141</locationX>
        <locationY>289</locationY>
        <inputReference>ColUpdatedOpp</inputReference>
    </recordUpdates>
    <screens>
        <name>Get_new_Stage</name>
        <label>Get new Stage</label>
        <locationX>131</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopColOpps</targetReference>
        </connector>
        <fields>
            <name>Opportuntiy_Stage</name>
            <choiceReferences>Stage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportuntiy Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spa_Type</name>
            <choiceReferences>Spatype</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Spa Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_new_Stage</startElementReference>
    <status>Active</status>
    <variables>
        <name>ColOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ColUpdatedOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Go through All Opps</description>
        <name>SobjOpps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SobjUpdatestage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
