force-app/main/default/flows/Opportunity_Contact_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Collection_of_contacts</name>
        <label>Collection of contacts</label>
        <locationX>542</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>Contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conemail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scree</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ooppddi</name>
        <label>ooppddi</label>
        <locationX>22</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>oppid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContacts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice</name>
        <choiceText>choice</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GetContacts</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contacts_from_opp</name>
        <choiceText>Contacts from opp</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GetContacts</elementReference>
        </value>
    </choices>
    <constants>
        <name>opp</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0061200000Vo6QqAAJ</stringValue>
        </value>
    </constants>
    <interviewLabel>Opportunity Contact Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Contact Email</label>
    <loops>
        <name>Get_Contact_Names_Emails</name>
        <label>Get Contact Names Emails</label>
        <locationX>309</locationX>
        <locationY>67</locationY>
        <assignNextValueToReference>SobjOppCon</assignNextValueToReference>
        <collectionReference>ColContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_name_for_Collection</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_name_for_Collection</name>
        <label>Get Contact name for Collection</label>
        <locationX>549</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_of_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SobjOppCon.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>conemail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>conid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>conname</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContacts</name>
        <label>GetContacts</label>
        <locationX>125</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Names_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>ColContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <screens>
        <name>scree</name>
        <label>scree</label>
        <locationX>332</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>contactsdd</name>
            <choiceReferences>Contacts_from_opp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>contactsdd</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ooppddi</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ColContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>conemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>conid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>conname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Sobjcon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SobjOppCon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
