force-app/main/default/flows/OpportunityAddSpaTeamMembers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddTeamMemberCollection</name>
        <label>AddTeamMemberCollection</label>
        <locationX>752</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>NewOppTeamCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppTeamNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUserIdsForTeam_Each_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUserIdToTeamMemberCollections</name>
        <label>AddUserIdToTeamMemberCollections</label>
        <locationX>487</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>OppTeamNew.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcctTeamUserIDSobj.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppTeamNew.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcctTeamUserIDSobj.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppTeamNew.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppTeamNew.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTeamMemberCollection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>OpportunityAddSpaTeamMembers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityAddSpaTeamMembers</label>
    <loops>
        <name>Get_Account_Ids_to_query</name>
        <label>Get Account Ids to query</label>
        <locationX>260</locationX>
        <locationY>17</locationY>
        <assignNextValueToReference>OppPartnerSobj</assignNextValueToReference>
        <collectionReference>OppPartnersCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetAccountTeamUsers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OppTeamNewCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>GetUserIdsForTeam_Each_Account</name>
        <label>GetUserIdsForTeam Each Account</label>
        <locationX>509</locationX>
        <locationY>158</locationY>
        <assignNextValueToReference>AcctTeamUserIDSobj</assignNextValueToReference>
        <collectionReference>AcctTeamUsersCol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddUserIdToTeamMemberCollections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Ids_to_query</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>OppTeamNewCreate</name>
        <label>OppTeamNewCreate</label>
        <locationX>267</locationX>
        <locationY>154</locationY>
        <inputReference>NewOppTeamCol</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Partners</name>
        <label>Get All Partners</label>
        <locationX>63</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Ids_to_query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <object>Opportunity_Partner__c</object>
        <outputReference>OppPartnersCollection</outputReference>
        <queriedFields>Partner_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountTeamUsers</name>
        <label>GetAccountTeamUsers</label>
        <locationX>764</locationX>
        <locationY>8</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserIdsForTeam_Each_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppPartnerSobj.Partner_Account__c</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>AcctTeamUsersCol</outputReference>
        <queriedFields>UserId</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
    </recordLookups>
    <startElementReference>Get_All_Partners</startElementReference>
    <status>Active</status>
    <variables>
        <name>AcctTeamUserIDSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>AcctTeamUsersCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>NewOppTeamCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppPartnersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Partner__c</objectType>
    </variables>
    <variables>
        <name>OppPartnerSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Partner__c</objectType>
    </variables>
    <variables>
        <name>OppTeamNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
