force-app/main/default/flows/Opportunity_Accessories_Add_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ColLineItmes</name>
        <label>ColLineItmes</label>
        <locationX>368</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>NewLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SobjLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Accessories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sobj_Line_Items</name>
        <label>Sobj Line Items</label>
        <locationX>519</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>SobjLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>entryid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mainprodquantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ColLineItmes</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>oneDollar</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>oppidass</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0061200000UVCEi</stringValue>
        </value>
    </constants>
    <constants>
        <name>testpricebook</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s12000000grE0</stringValue>
        </value>
    </constants>
    <constants>
        <name>testprodid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tA0000003gp69</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Entry_Found</name>
        <label>Check if Entry Found</label>
        <locationX>687</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Entry_Not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Entry Found</defaultConnectorLabel>
        <rules>
            <name>Entry_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>entryid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sobj_Line_Items</targetReference>
            </connector>
            <label>Entry Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Accessories Add to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Accessories Add to Opportunity</label>
    <loops>
        <name>Selected_Accessories</name>
        <label>Selected Accessories</label>
        <locationX>66</locationX>
        <locationY>137</locationY>
        <assignNextValueToReference>SobjAccessories</assignNextValueToReference>
        <collectionReference>ColAccessories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Price_Book_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Line_Items</name>
        <label>New Line Items</label>
        <locationX>63</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputReference>NewLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>OpportunityProduct_Quantity</name>
        <label>OpportunityProduct Quantity</label>
        <locationX>474</locationX>
        <locationY>8</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PricebookId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>mainprodquantity</assignToReference>
            <field>Quantity</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Price_Book_Entry</name>
        <label>Price Book Entry</label>
        <locationX>391</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Entry_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricebook</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SobjAccessories.Accessory_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>entryid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ListPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Pricebook_Name</name>
        <label>Pricebook Name</label>
        <locationX>64</locationX>
        <locationY>8</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_Accessories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricebook</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>pricebookname</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>PricebookId</name>
        <label>Pricebook Id</label>
        <locationX>327</locationX>
        <locationY>9</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>pricebook</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>67</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Congrats</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Congrats! You have successsfully Added the Products to the Opportunity. Click on Refresh Link Below. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br&gt;&lt;A HREF=&quot;https://viewsonic--c.na18.visual.force.com/apex/RefreshPage?oppid={!oppid}&quot; TARGET=&quot;_self&quot;&gt;Refresh&lt;/A&gt;&lt;/br&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>You have completed the addition of accessories. Click on Back to Opportunity Page if you wish to edit the opporutity.</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Entry_Not_found</name>
        <label>Entry Not found</label>
        <locationX>578</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Accessories</targetReference>
        </connector>
        <fields>
            <name>EntryNotFound</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Prouduct named {!AccessoryName} is not active in the for the selected price book {!pricebookname}. If you think this is incorrect, you can notify SFDC Admin. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;To continue without adding this accessory click on next. Or go click on link below to go back to the opportunity.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;br&gt;&lt;A HREF=&quot;https://viewsonic.my.salesforce.com/{!oppid}&quot; TARGET=&quot;_self&quot;&gt;Back to Opportunity&lt;/A&gt;&lt;/br&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>OpportunityProduct_Quantity</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccessoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ColAccessories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accessories__c</objectType>
    </variables>
    <variables>
        <name>entryid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>mainprodquantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NewLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pricebookname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SalesPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SobjAccessories</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accessories__c</objectType>
    </variables>
    <variables>
        <name>SobjLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
