force-app/main/default/flows/OpportunityClonePromotion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>OpportunityId</name>
        <label>OpportunityId</label>
        <locationX>660</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>newopplineitemssobj.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopplineitemssobj.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldOppitems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopplineitemssobj.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldOppitems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopplineitemssobj.Competitor_Name_del__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldOppitems.Competitive_Info__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newopplineitemssobj.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldOppitems.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatedCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatedCollection</name>
        <label>UpdatedCollection</label>
        <locationX>712</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>NewCreatedOpplineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newopplineitemssobj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OldOppitemsLoop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>OpportunityClonePromotion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityClonePromotion`</label>
    <loops>
        <name>OldOppitemsLoop</name>
        <label>OldOppitemsLoop</label>
        <locationX>393</locationX>
        <locationY>43</locationY>
        <assignNextValueToReference>OldOppitems</assignNextValueToReference>
        <collectionReference>OldOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OpportunityId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NewOpplineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>NewOpplineItems</name>
        <label>NewOpplineItems</label>
        <locationX>538</locationX>
        <locationY>304</locationY>
        <inputReference>NewCreatedOpplineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>OpplineItemsOld</name>
        <label>OpplineItemsOld</label>
        <locationX>236</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OldOppitemsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldoppid</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OldOppLineItems</outputReference>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Competitive_Info__c</queriedFields>
    </recordLookups>
    <startElementReference>OpplineItemsOld</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>NewCreatedOpplineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>newopplineitemssobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oldoppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OldOppitems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OldOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oldpbid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pbeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pbid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
