force-app/main/default/flows/Opps_with_Inactive_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_to_new_collections</name>
        <label>Add to to new collections</label>
        <locationX>473</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>UpdatedColOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SobjVarOpps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_Sobj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Products</name>
        <label>Products</label>
        <locationX>467</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>SobjVarOpps.Product_Name_Main__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_to_new_collections</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Opps with Inactive Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opps with Inactive Products</label>
    <loops>
        <name>Through_Sobj</name>
        <label>Through Sobj</label>
        <locationX>266</locationX>
        <locationY>63</locationY>
        <assignNextValueToReference>SobjVarOpps</assignNextValueToReference>
        <collectionReference>SobjOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opps_Products_to_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opps_with_inactive_product</name>
        <label>Opps with inactive product</label>
        <locationX>125</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_Sobj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Name_Main__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prodid</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>SobjOpps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name_Main__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opps_Products_to_Null</name>
        <label>Update Opps Products to Null</label>
        <locationX>189</locationX>
        <locationY>231</locationY>
        <inputReference>UpdatedColOpps</inputReference>
    </recordUpdates>
    <startElementReference>Opps_with_inactive_product</startElementReference>
    <status>Active</status>
    <variables>
        <name>prodid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SobjOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SobjVarOpps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdatedColOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
