force-app/main/default/flows/portalCaseCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignCase</name>
        <label>assignCase</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>additional</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Notes_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errMssg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Message_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCaseAction_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCase_0</name>
        <label>assignCase</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>additional</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errMssg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAddress_0.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCaseAction_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>endUserCheck</name>
        <label>endUserCheck</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>assignCase_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEndUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>partnerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End User Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GuestCaseForm_0_0_0</targetReference>
            </connector>
            <label>isEndUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>guestUserCheck</name>
        <label>guestUserCheck</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>AuthenticatedCaseForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isGuest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>guestUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCase_0</targetReference>
            </connector>
            <label>isGuest</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>caseType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>endUserType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>End_Customer_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>partnerType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>guestUser</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Alias} == &apos;guest&apos;</expression>
    </formulas>
    <interviewLabel>portalCaseCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>portalCaseCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCaseAction_0</name>
        <label>createCaseAction</label>
        <locationX>490</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>HeaderAttachment_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>additional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message_Received__c</field>
            <value>
                <elementReference>errMssg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Portal Issue Submited</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>case_type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>createCaseAction_0_0</name>
        <label>createCaseAction</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmatilon</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>additional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message_Received__c</field>
            <value>
                <elementReference>errMssg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Portal Issue Submited</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>case_type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>AuthenticatedCaseForm</name>
        <label>AuthenticatedCaseForm</label>
        <locationX>490</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignCase</targetReference>
        </connector>
        <fields>
            <name>What_Type_of_Issue_Please_choose_the_most_closest_0_0</name>
            <choiceReferences>caseType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Type of Issue? Please choose the most closest</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>Error Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Notes_0</name>
            <fieldText>Additional Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmatilon</name>
        <label>Confirmatilon</label>
        <locationX>336</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Your Submission has been accepted and a Support Rep will contact you shortly. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateCase_0</name>
        <label>CreateCase</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GuestCaseForm</targetReference>
        </connector>
        <fields>
            <name>flowNext_0</name>
            <extensionName>c:flowCustomNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customLabel</name>
                <value>
                    <stringValue>Submit a Case</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TextTemplate_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GuestCaseForm</name>
        <label>GuestCaseForm</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>endUserCheck</targetReference>
        </connector>
        <fields>
            <name>What_Type_of_Issue_Please_choose_the_most_closest_0</name>
            <choiceReferences>caseType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Type of Issue? Please choose the most closest</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name_0</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name_0</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailAddress_0</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Company_0</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Partner_Type_0</name>
            <choiceReferences>partnerType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partner Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City_0</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_0</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>web_0</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Company Website</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>Error Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Notes</name>
            <fieldText>Additional Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GuestCaseForm_0_0_0</name>
        <label>GuestCaseForm</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignCase_0</targetReference>
        </connector>
        <fields>
            <name>EndUser_0_0</name>
            <choiceReferences>endUserType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>End User Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HeaderAttachment_0</name>
        <label>HeaderAttachment</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmatilon</targetReference>
        </connector>
        <fields>
            <name>displayAtt_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;You can attach any supporting documentation including screen shots. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attachment_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach Screen shot if applicable or click finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>guestUserCheck</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>additional</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>case_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errMssg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
