force-app/main/default/flows/portalMySalesRep.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>NameOwner</name>
        <dataType>String</dataType>
        <expression>{!getOwner.FirstName}&amp;&apos; &apos;&amp;{!getOwner.LastName}</expression>
    </formulas>
    <interviewLabel>portalMySalesRep {!$Flow.CurrentDateTime}</interviewLabel>
    <label>portalMySalesRep</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>840</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>840</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOwner</name>
        <label>getOwner</label>
        <locationX>675</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PortalSaleRepContact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>PortalSaleRepContact_0</name>
        <label>PortalSaleRepContact</label>
        <locationX>1104</locationX>
        <locationY>602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MySalesRep</name>
            <fieldText>&lt;h4 style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!$Label.pp_Support_Sales_Rep_Header}&lt;/b&gt;&lt;/h4&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PortalSaleRepContact_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PortalSaleRepContact_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>mySalesRep_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 63); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.nameLabel}:   &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(63, 63, 63);&quot;&gt;{!$Label.emailLabel}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 63);&quot;&gt;:   &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 63);&quot;&gt;{!$Label.phoneLabel}:   &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>getContact.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PortalSaleRepContact_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SalesRepInfo</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 63); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!getOwner.FirstName} {!getOwner.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 63); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!getOwner.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 63); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿{!getOwner.Phone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PortalSaleRepContact_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OwnerPic_0</name>
                    <extensionName>c:portalMysalesRepContactMe</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>FullPhotoUrl</name>
                        <value>
                            <elementReference>getOwner.MediumPhotoUrl</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>Name</name>
                        <value>
                            <elementReference>NameOwner</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>acctId</name>
                        <value>
                            <elementReference>getAccount.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>conId</name>
                        <value>
                            <elementReference>getContact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>repId</name>
                        <value>
                            <elementReference>getOwner.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>languageSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>English</stringValue>
        </value>
    </variables>
</Flow>
