force-app/main/default/flows/portalPartnerCreateClaimModal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignAcctId</name>
        <label>assignAcctId</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>EndUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSpa.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAcctId_0</name>
        <label>assignAcctId</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>EndUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndUserLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignConAcct</name>
        <label>assignConAcct</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>recId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acctId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>spaNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSpa.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkIfSalesTracking_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfSalesTracking_0</name>
        <label>checkIfSalesTracking</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>createClaim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Spiff Claim</defaultConnectorLabel>
        <rules>
            <name>SalesTracker_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>salesTracking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createClaim_0</targetReference>
            </connector>
            <label>SalesTracker</label>
        </rules>
    </decisions>
    <decisions>
        <name>spaNumberGiven</name>
        <label>spaNumberGiven</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>assignAcctId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SpaGiven</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>spaId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountSearchForm</targetReference>
            </connector>
            <label>SpaGiven</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>endCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingCountryCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>State</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingStateCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>portalPartnerCreateClaimModal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>portalPartnerCreateClaimModal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createClaim</name>
        <label>createClaim</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignRecordIdToReference>claimId</assignRecordIdToReference>
        <connector>
            <targetReference>uploadOption</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Distributor_Ids__c</field>
            <value>
                <elementReference>distiIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor_Name_s__c</field>
            <value>
                <elementReference>distiNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_City__c</field>
            <value>
                <elementReference>EndUserAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Contact_Last_Name__c</field>
            <value>
                <elementReference>End_User_Last_Namedep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Contact_Name__c</field>
            <value>
                <elementReference>End_User_Contact_Namedep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Country__c</field>
            <value>
                <elementReference>EndUserAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Email__c</field>
            <value>
                <elementReference>enduserEmaildep.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Postal_Code__c</field>
            <value>
                <elementReference>EndUserAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_State__c</field>
            <value>
                <elementReference>EndUserAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Street__c</field>
            <value>
                <elementReference>EndUserAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Text__c</field>
            <value>
                <elementReference>End_User_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User__c</field>
            <value>
                <elementReference>EndUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Per_Unit_Spiff__c</field>
            <value>
                <elementReference>getSpiffPromtion.Spiff_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester_Company__c</field>
            <value>
                <elementReference>acctId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>recId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Date__c</field>
            <value>
                <elementReference>Sale_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spa_Number__c</field>
            <value>
                <elementReference>spaNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Spiff_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>createClaim_0</name>
        <label>createClaim</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignRecordIdToReference>claimId</assignRecordIdToReference>
        <connector>
            <targetReference>uploadOption_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Distributor_Ids__c</field>
            <value>
                <elementReference>distiIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor_Name_s__c</field>
            <value>
                <elementReference>distiNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_City__c</field>
            <value>
                <elementReference>EndUserAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Contact_Last_Name__c</field>
            <value>
                <elementReference>End_User_Last_Namedep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Contact_Name__c</field>
            <value>
                <elementReference>End_User_Contact_Namedep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Country__c</field>
            <value>
                <elementReference>EndUserAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Email__c</field>
            <value>
                <elementReference>enduserEmaildep.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Postal_Code__c</field>
            <value>
                <elementReference>EndUserAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_State__c</field>
            <value>
                <elementReference>EndUserAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Street__c</field>
            <value>
                <elementReference>EndUserAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Text__c</field>
            <value>
                <elementReference>End_User_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User__c</field>
            <value>
                <elementReference>EndUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Per_Unit_Spiff__c</field>
            <value>
                <elementReference>getSpiffPromtion.Spiff_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester_Company__c</field>
            <value>
                <elementReference>acctId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>recId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Date__c</field>
            <value>
                <elementReference>Sale_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spa_Number__c</field>
            <value>
                <elementReference>spaNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Reseller_Sales__c</object>
    </recordCreates>
    <recordCreates>
        <name>createClaim_0_0</name>
        <label>createClaim</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <assignRecordIdToReference>salesTrackerId</assignRecordIdToReference>
        <connector>
            <targetReference>updateClaim</targetReference>
        </connector>
        <inputAssignments>
            <field>Distributor_Ids__c</field>
            <value>
                <elementReference>distiIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor_Name_s__c</field>
            <value>
                <elementReference>distiNames</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_City__c</field>
            <value>
                <elementReference>EndUserAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Contact_Last_Name__c</field>
            <value>
                <elementReference>End_User_Last_Namedep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Contact_Name__c</field>
            <value>
                <elementReference>End_User_Contact_Namedep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Country__c</field>
            <value>
                <elementReference>EndUserAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Email__c</field>
            <value>
                <elementReference>enduserEmaildep.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Postal_Code__c</field>
            <value>
                <elementReference>EndUserAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_State__c</field>
            <value>
                <elementReference>EndUserAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Street__c</field>
            <value>
                <elementReference>EndUserAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Text__c</field>
            <value>
                <elementReference>End_User_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User__c</field>
            <value>
                <elementReference>EndUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Per_Unit_Spiff__c</field>
            <value>
                <elementReference>getSpiffPromtion.Spiff_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Product.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester_Company__c</field>
            <value>
                <elementReference>acctId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>recId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Date__c</field>
            <value>
                <elementReference>Sale_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spa_Number__c</field>
            <value>
                <elementReference>spaNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spiff_Request__c</field>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </inputAssignments>
        <object>Reseller_Sales__c</object>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSpiffPromotionDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>spaNumberGiven</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSpa</name>
        <label>getSpa</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>spaId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSpiffPromotionDate</name>
        <label>getSpiffPromotionDate</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Claim_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PricingDate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricingEffectiveDate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSpiffPromtion</name>
        <label>getSpiffPromtion</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Distribution_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product.recordName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.BillingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Spiff_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Spiff_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Incentive_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Partner_Incentive_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Portal_Pricing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateClaim</name>
        <label>updateClaim</label>
        <locationX>314</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Confirmation_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notes_or_Serial_Numbers__c</field>
            <value>
                <elementReference>Notes_or_Serial_Numbers_Optional</elementReference>
            </value>
        </inputAssignments>
        <object>Spiff_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateClaim_0</name>
        <label>updateClaim</label>
        <locationX>50</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Confirmation_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notes_or_Serial_Numbers__c</field>
            <value>
                <elementReference>Notes_or_Serial_Numbers_Optional</elementReference>
            </value>
        </inputAssignments>
        <object>Spiff_Request__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AccountSearchForm</name>
        <label>AccountSearchForm</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignAcctId_0</targetReference>
        </connector>
        <fields>
            <name>NoSpaf</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Step 1 of 4&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please Search for End User to expedite the Spiff Claim Processing, if you cannot find, then you can enter via text. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;To Search for Account, type at least characters and as you type, options will appear. Click Enter to do a full search.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>salesTracking</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenSalesTracking</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Step 1 of 4&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please Search for End User link the Sale Properly, if you cannot find, then you can enter via text. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;To Search for Account, type at least characters and as you type, options will appear. Click Enter to do a full search.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>salesTracking</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndUserLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>End_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>End User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Spiff_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NoSpaButton</name>
            <extensionName>c:flowCustomNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showPrev</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customLabel</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Claim_Form</name>
        <label>Claim Form</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSpiffPromtion</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Step 2 of 4&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;SPIFF Claim Form &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>salesTracking</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>titleSalesTracking</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Step 2 of 4&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sales Tracking Form &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>salesTracking</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sale_Date</name>
            <dataType>Date</dataType>
            <fieldText>Sale Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LookUpInstructions</name>
            <fieldText>&lt;p&gt;&lt;i&gt;To Search for Product, type at least characters and as you type, options will appear. Click Enter to do a full search.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Spiff_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SpaNumber_form</name>
            <dataType>String</dataType>
            <fieldText>SpaNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getSpa.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndUserHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(192, 6, 6); font-size: 16px;&quot;&gt;***&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; End User Data is Required. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿You must enter City, State/Province (if applicable), and Country Data &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(192, 6, 6);&quot;&gt;***&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EndUserId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>End_User_Name</name>
            <dataType>String</dataType>
            <fieldText>End User Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EndUserId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndUserAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EndUserId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>End_User_Contact_Namedep</name>
            <dataType>String</dataType>
            <fieldText>End User First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EndUserId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>End_User_Last_Namedep</name>
            <dataType>String</dataType>
            <fieldText>End User Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EndUserId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>enduserEmaildep</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>End User Contact Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EndUserId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnFormDisabled</name>
            <extensionName>c:flowCustomNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableBtn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customLabel</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
                <conditions>
                    <leftValueReference>EndUserId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>EndUserAddress.city</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>EndUserAddress.country</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>End_User_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>EndUserAddress.province</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Sale_Date</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Quantity</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Product.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnForm</name>
            <extensionName>c:flowCustomNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customLabel</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrev</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>(1 ) OR (2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8)</conditionLogic>
                <conditions>
                    <leftValueReference>EndUserId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>EndUserAddress.city</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>EndUserAddress.country</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>End_User_Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>EndUserAddress.province</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Quantity</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Sale_Date</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Product.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_0</name>
        <label>Confirmation</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirmationText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thanks for your submission. Our team may verify the sale. If they need any additional information, they will contact you. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_0_0</name>
        <label>Confirmation</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirmationText_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thanks for your submission. Our team will verify the claim. If they need any additional information, they will contact you. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Once the claim is approved, you will get a notification. Feel free to contact your sales rep if you have any question or need assistance with this SPIFF claim.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addressUpdateContact_0_0</name>
            <extensionName>c:pp_Payment_Address_Update</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Distribution_Selection</name>
        <label>Distribution Selection</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignConAcct</targetReference>
        </connector>
        <fields>
            <name>MultiDistisHeader</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Step 3 of 4&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please Select the Distributor(s)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addDistisMultiple</name>
            <extensionName>c:portalAddMultipleDistributors</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showFooter</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSubTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>distiIds</assignToReference>
                <name>distiIdsSelected</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>distiNames</assignToReference>
                <name>distiNamesSelected</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>842</locationX>
        <locationY>1934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errMssg</name>
            <fieldText>&lt;p&gt;There was an error, please notify Support and put the error message in the support request. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen_0</name>
        <label>ErrorScreen</label>
        <locationX>578</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errMssg_0</name>
            <fieldText>&lt;p&gt;There was an error, please notify Support and put the error message in the support request. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Page2</name>
        <label>Spa Page</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSpa</targetReference>
        </connector>
        <fields>
            <name>spaNumberHeader</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Step 1 of 4&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If there is a SPA for this deal, Select the Deal and the information will be added, if you do not see the Spa number, click No Spa button on bottom of this screen.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpiffSearch_Selection</name>
            <extensionName>c:portalSpiffSpaSeach</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>spaId</assignToReference>
                <name>spaId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Nextbtn</name>
            <extensionName>c:flowCustomNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customLabel</name>
                <value>
                    <stringValue>No Spa, Search for End User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableBtn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrev</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>uploadOption</name>
        <label>uploadOption</label>
        <locationX>314</locationX>
        <locationY>1934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createClaim_0_0</targetReference>
        </connector>
        <fields>
            <name>Additional</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Step 4 of 4&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can add documentation to your request. Purchase orders, shipping information or other supporting documentation.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is not required to submit the initial request but it may help if we cannot find the sale or have additional questions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Additional Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>claimId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Notes_or_Serial_Numbers_Optional</name>
            <fieldText>Notes or Serial Numbers (Optional)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>uploadOption_0</name>
        <label>uploadOption</label>
        <locationX>50</locationX>
        <locationY>1934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateClaim_0</targetReference>
        </connector>
        <fields>
            <name>Additional_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Step 4 of 4&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can add documentation to your request. Purchase orders, shipping information or other supporting documentation.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is not required to submit the initial request but it may help if we cannot find the sale or have additional questions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fileUpload_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Additional Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>claimId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Notes_or_Serial_Numbers_Optional_0</name>
            <fieldText>Notes or Serial Numbers (Optional)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Page2</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>buttonLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>distiIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>distiNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesTrackerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>salesTracking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>spaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>spaNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>spiffEndUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
