force-app/main/default/flows/portalCustomizedMarketing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignBrand</name>
        <label>AssignBrand</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>getBrandDocs.CompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getBrandDocs.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getBrandDocs.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getBrandDocs.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_0.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getBrandDocs.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone_0.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getBrandDocs.LogoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getBrandDocs.congaTemplate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>congaTemplateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getBrandDocs.sendCoBrand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContactId.cobrandingTemplateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>congaTemplateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getContactId.congaAutoSend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateBrand</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>CompanyLogo</name>
        <dataType>String</dataType>
        <expression>{!&apos;Logo_&apos;&amp;getContactId.AccountId&amp;SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( LEFT(TEXT($Flow.CurrentDateTime), 16),&quot;-&quot;,&quot;&quot;),&quot;:&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;)}</expression>
    </formulas>
    <formulas>
        <name>imageUrl</name>
        <dataType>String</dataType>
        <expression>&apos;https://viewsonic.my.salesforce.com/sfc/servlet.shepherd/version/renditionDownload?rendition=THUMB720BY480&amp;versionId=0681H00000HUmec&amp;operationContext=CHATTER &apos;</expression>
    </formulas>
    <interviewLabel>portalCustomizedMarketing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>portalCustomizedMarketing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAsset</name>
        <label>createAsset</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>assetId</assignRecordIdToReference>
        <connector>
            <targetReference>updateFile</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorupdatingBrand_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <elementReference>CompanyLogo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleByExternalUsers</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterLabel</field>
            <value>
                <elementReference>CompanyLogo</elementReference>
            </value>
        </inputAssignments>
        <object>ContentAsset</object>
    </recordCreates>
    <recordLookups>
        <name>getBrandDocs</name>
        <label>getBrandDocs</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SearchComponent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorupdatingBrand_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContactId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountBrand</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContactId</name>
        <label>getContactId</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBrandDocs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorupdatingBrand_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContentVersionUrl</name>
        <label>getContentVersionUrl</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EditBranding_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorupdatingBrand_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getBrandDocs.FileId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateBrand</name>
        <label>updateBrand</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>updateContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorupdatingBrand</targetReference>
        </faultConnector>
        <inputReference>getBrandDocs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>cobrandingTemplateId__c</field>
            <value>
                <elementReference>congaTemplateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>congaAutoSend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateFile</name>
        <label>updateFile</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>AssignBrand</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorupdatingBrand_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>logoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContentAssetId</field>
            <value>
                <elementReference>assetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>CompanyLogo</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmInstructions</name>
            <fieldText>&lt;p&gt;Your Requested is being processed and will be emailed to the address on the previous screen. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You should get the email within 5 minutes. Please check your email junk folder. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EditBranding_0</name>
        <label>EditBranding</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createAsset</targetReference>
        </connector>
        <fields>
            <name>instructionBranding</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please Verify all information is correct. You can update the logo.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getBrandDocs.CompanyName</elementReference>
            </defaultValue>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getContactId.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getContactId.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_0</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>getContactId.Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone_0</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>getContactId.Phone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>currentLogo_0</name>
            <extensionName>c:portalBrandLogo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageURL</name>
                <value>
                    <elementReference>getBrandDocs.fileURLThumbnail__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relatedId</name>
                <value>
                    <elementReference>getContactId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customLabelbtn</name>
                <value>
                    <elementReference>brandDemosButtonLabel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>logoId</assignToReference>
                <name>docId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorupdatingBrand</name>
        <label>errorupdatingBrand</label>
        <locationX>440</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorBrand</name>
            <fieldText>&lt;p&gt;There was an error. System admin has been notified. You can also create a support ticket and give the following error code:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;updateBrand&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorupdatingBrand_0</name>
        <label>errorupdatingBrand</label>
        <locationX>968</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorBrand_0</name>
            <fieldText>&lt;p&gt;There was an error. System admin has been notified. You can also create a support ticket and give the following error code:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the error refers to a duplicate, it may be that you have attempted to resubmit too quickly. Please wait 2 minutes and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Asset Creation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorupdatingBrand_0_0</name>
        <label>errorupdatingBrand</label>
        <locationX>704</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorBrand_0_0</name>
            <fieldText>&lt;p&gt;There was an error. System admin has been notified. You can also create a support ticket and give the following error code:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;updateFile&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorupdatingBrand_0_0_0</name>
        <label>errorupdatingBrand</label>
        <locationX>1232</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorBrand_0_0_0</name>
            <fieldText>&lt;p&gt;There was an error. System admin has been notified. You can also create a support ticket and give the following error code:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;getContentUrl&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorupdatingBrand_0_0_0_0</name>
        <label>errorupdatingBrand</label>
        <locationX>1496</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorBrand_0_0_0_0</name>
            <fieldText>&lt;p&gt;There was an error. System admin has been notified. You can also create a support ticket and give the following error code: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorupdatingBrand_0_0_0_0_0</name>
        <label>errorupdatingBrand</label>
        <locationX>1760</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorBrand_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;There was an error. System admin has been notified. You can also create a support ticket and give the following error code: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SearchComponent</name>
        <label>SearchComponent</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getContentVersionUrl</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Here are the steps to co-brand a document:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;1.&amp;nbsp;Preview the document you want to customize from the list.&lt;/p&gt;&lt;p&gt;2.&amp;nbsp;Select the document by clicking the “Select Document” button.&lt;/p&gt;&lt;p&gt;3.&amp;nbsp;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Verify your info, updating if necessary&lt;/span&gt;&lt;/p&gt;&lt;p&gt;4.&amp;nbsp;U&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;pload new logo if Current Logo is not desired&lt;/span&gt;&lt;/p&gt;&lt;p&gt;5.&amp;nbsp;Click “Next” and the document will be created and emailed to you&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>searchCMP</name>
            <extensionName>c:customSearchResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>library</name>
                <value>
                    <elementReference>LibraryName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>qty</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchText</name>
                <value>
                    <elementReference>SearchText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSearch</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDescription</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>assetId</name>
                <value>
                    <stringValue>03S1H000000U4ceUAC</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LogoImageURL</assignToReference>
                <name>LogoURL</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>congaTemplateId</assignToReference>
                <name>congaTemplateId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContactId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>brandDemosButtonLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Create Document</stringValue>
        </value>
    </variables>
    <variables>
        <name>company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>congaTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>first</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>last</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LibraryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>logoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LogoImageURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>e.g. cobrand, or other text that the name will have</description>
        <name>SearchText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>false will mean there will be no search input</description>
        <name>showTheSearchInput</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
