force-app/main/default/flows/portalAdminDocmentUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignFields_0</name>
        <label>AssignFields</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>getDocument.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDocument.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getVersion.Tags__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tags</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getVersion.Library__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Move_to_Secure_Library</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getVersion.Archive_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Archive_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getVersion.Categories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cat_agories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCotent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>faultMessageDescision</name>
        <label>faultMessageDescision</label>
        <locationX>836</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_Header_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>alreadyinArchives</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DUPLICATE_VALUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_Header_0_0_0</targetReference>
            </connector>
            <label>alreadyinArchives</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Categories</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Categories__c</picklistField>
        <picklistObject>ContentVersion</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SecureLibraries</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Library__c</picklistField>
        <picklistObject>ContentVersion</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>portalAdminDocmentUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>portalAdminDocmentUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getDocument</name>
        <label>getDocument</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Inputs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getVersion</name>
        <label>getVersion</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCotent</name>
        <label>updateCotent</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>updateTags</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultMessageDescision</targetReference>
        </faultConnector>
        <inputReference>getDocument</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateTags</name>
        <label>updateTags</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Error_Screen_Header_0</targetReference>
        </faultConnector>
        <inputReference>getVersion</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen_Header_0</name>
        <label>Error_Screen_Header</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>&lt;p&gt;There was an error. Admin has been notified. The error message is below.  Although admin has been notified, feel free to open an IT ticket and give the following error message. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Header_0_0</name>
        <label>Error_Screen_Header</label>
        <locationX>968</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0_0</name>
            <fieldText>&lt;p&gt;There was an error. Admin has been notified. The error message is below.  Although admin has been notified, feel free to open an IT ticket and give the following error message. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Header_0_0_0</name>
        <label>Error_Screen_Header</label>
        <locationX>704</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(157, 11, 11);&quot;&gt;This file as already archived.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inputs</name>
        <label>Screen_Inputs</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignFields_0</targetReference>
        </connector>
        <fields>
            <name>Screen_header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Update Name and Tags&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getDocument.Title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tags</name>
            <defaultValue>
                <stringValue>{!getVersion.Tags__c}</stringValue>
            </defaultValue>
            <fieldText>Tags</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Archive_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>getVersion.Archive_Date__c</elementReference>
            </defaultValue>
            <fieldText>Archive Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!getDocument.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cat_agories</name>
            <choiceReferences>Categories</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getVersion.Categories__c</elementReference>
            </defaultValue>
            <fieldText>Categories</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Move_to_Secure_Library</name>
            <choiceReferences>SecureLibraries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Move to Secure Library</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nav_button</name>
            <extensionName>c:flowCustomNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customLabel</name>
                <value>
                    <stringValue>Update</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getVersion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
