force-app/main/default/flows/portalTaskClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignEachRecords</name>
        <label>assignEachRecords</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>loopProgressRecords.Partner_Portal_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTaskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopProgressRecords.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newChildCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopProgressRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopProgressRecords</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Portal_Task__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>portalTaskClone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>portalTaskClone</label>
    <loops>
        <name>loopProgressRecords</name>
        <label>loopProgressRecords</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>getChildProgress</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>test</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createNewChildren_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createNewChildren_0</name>
        <label>createNewChildren</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <inputReference>newChildCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createPortalTask</name>
        <label>createPortalTask</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>newTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>getChildProgress</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Button_Name__c</field>
            <value>
                <elementReference>Button_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_URL__c</field>
            <value>
                <elementReference>Image_URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name_of_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_Description__c</field>
            <value>
                <elementReference>Step_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypeofTask</elementReference>
            </value>
        </inputAssignments>
        <object>Portal_Task__c</object>
    </recordCreates>
    <recordLookups>
        <name>getChildProgress</name>
        <label>getChildProgress</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopProgressRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner_Portal_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PortalOnboardingProgress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CloneForm</name>
        <label>CloneForm</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createPortalTask</targetReference>
        </connector>
        <fields>
            <name>Name_of_Task</name>
            <dataType>String</dataType>
            <fieldText>Name of Task</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_URL</name>
            <dataType>String</dataType>
            <fieldText>Image URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Button_Name</name>
            <dataType>String</dataType>
            <fieldText>Button Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Step_Description</name>
            <dataType>String</dataType>
            <fieldText>Step Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TypeofTask</name>
            <choiceReferences>Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Active</name>
            <dataType>Boolean</dataType>
            <fieldText>Active</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignEachRecords</targetReference>
        </connector>
        <fields>
            <name>scree</name>
            <fieldText>&lt;p&gt;{!loopProgressRecords.Id}&lt;/p&gt;&lt;p&gt;{!loopProgressRecords.Portal_Contact__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;records&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!newChildCollection}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CloneForm</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newChildCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PortalOnboardingProgress__c</objectType>
    </variables>
    <variables>
        <name>newTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>prevButtonName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>prevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>prevURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskProgressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PortalOnboardingProgress__c</objectType>
    </variables>
</Flow>
