force-app/main/default/flows/pp_loginCheckFirstLogin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LegacyFirstLoginEmail</name>
        <label>LegacyFirstLoginEmail</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>User.pp_LegacyFirstLogin</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>getUserUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>newRegInitialOnboarding</name>
        <label>newRegInitialOnboarding</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>User.pp_NewRegFirstLoginInitialOnboarding</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>getUserUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>checkIfFirstLogin</name>
        <label>checkIfFirstLogin</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>updateContactLastLoginDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FirstLogin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.pp_NoLogin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isLegacyUser</targetReference>
            </connector>
            <label>FirstLogin</label>
        </rules>
    </decisions>
    <decisions>
        <name>isLegacyUser</name>
        <label>isLegacyUser</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>newRegInitialOnboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>newRegistration</defaultConnectorLabel>
        <rules>
            <name>Legacypartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.isLegacyPartner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LegacyFirstLoginEmail</targetReference>
            </connector>
            <label>Legacypartner</label>
        </rules>
    </decisions>
    <description>Checks if this is first login and if it is, it will check if there are automatic onboarding actions.</description>
    <interviewLabel>pp loginCheckFirstLogin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pp loginCheckFirstLogin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>getUserUpdate</name>
        <label>getUserUpdate</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>updateContactLastLoginDate_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>BlankScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastLogin__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pp_NoLogin__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateContactLastLoginDate</name>
        <label>updateContactLastLoginDate</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>updateUser</targetReference>
        </connector>
        <faultConnector>
            <targetReference>BlankScreen_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pp_LastLoginDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateContactLastLoginDate_0</name>
        <label>updateContactLastLoginDate</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>BlankScreen2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>BlankScreen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pp_LastLoginDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateUser</name>
        <label>updateUser</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>empty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>BlankScreen_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastLogin__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>BlankScreen</name>
        <label>BlankScreen</label>
        <locationX>842</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BlankScreen2</name>
        <label>BlankScreen</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BlankScreen_0</name>
        <label>BlankScreen</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BlankScreen_0_0</name>
        <label>BlankScreen</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BlankScreen_0_0_0</name>
        <label>BlankScreen</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>empty</name>
        <label>empty</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIfFirstLogin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>loginHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LoginHistory</objectType>
    </variables>
    <variables>
        <name>logins</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LoginHistory</objectType>
    </variables>
</Flow>
