force-app/main/default/flows/pp_newOnboardingTasksEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>pp_NewOnboardingTasks</name>
        <label>pp_NewOnboardingTasks</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <actionName>Contact.pp_NewlOnboardingTask</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updateContactSend</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <description>Partner Program Email Alert when a new Onboarding Task that is not initially added is added. It is done during a schedule to notify of 1 or more tasks so that multiple emails are not sent out.</description>
    <interviewLabel>pp_newOnboardingTasksEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pp_newOnboardingTasksEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateContactSend</name>
        <label>updateContactSend</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>pp_SendOnboardingAlert__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pp_SendOnboardingCnt__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>pp_NewOnboardingTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pp_SendOnboardingAlert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
