force-app/main/default/flows/pp_spiffRequestChangeRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Spiff_Request_Change_Email_Alert</name>
        <label>Spiff Request Change Email Alert</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>Spiff_Request__c.pp_SpiffRequestChange</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>pp_spiffRequestChangeRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pp_spiffRequestChangeRequest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Spiff_Request_Change_Email_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change_Request__c</field>
            <value>
                <elementReference>Add_the_Changes_that_you_would_like_to_make_below_You_can_request_multiple_chang</elementReference>
            </value>
        </inputAssignments>
        <object>Spiff_Request__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Spiff_Change_Request</name>
        <label>Spiff Change Request</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update</targetReference>
        </connector>
        <fields>
            <name>header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Spiff Change Request &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_the_Changes_that_you_would_like_to_make_below_You_can_request_multiple_chang</name>
            <fieldText>Add the Changes that you would like to make below. You can request multiple changes.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>note</name>
            <fieldText>&lt;p&gt;** Note: In order to ensure that payment of the spiff request is not delayed, we use this field to alert the team and ensure that the updates and payouts are absolutely correct. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Spiff_Change_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
