force-app/main/default/flows/Product_Accessories_Text_Field_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Accessory_Information_to_the_Main_Products</name>
        <label>Add Accessory Information to the Main Products</label>
        <locationX>707</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>ProductText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SobjAccessories.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_The_Accessory_List</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Prodidtest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01tA0000003gp69</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Ensure_there_are_accesories</name>
        <label>Ensure there are accesories</label>
        <locationX>276</locationX>
        <locationY>30</locationY>
        <defaultConnectorLabel>No Accessories</defaultConnectorLabel>
        <rules>
            <name>There_are_accessories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColAccessories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_Accessory_List</targetReference>
            </connector>
            <label>There are accessories</label>
        </rules>
    </decisions>
    <formulas>
        <name>cd</name>
        <dataType>String</dataType>
        <expression>&quot;CD&quot;</expression>
    </formulas>
    <formulas>
        <name>NewLine</name>
        <dataType>String</dataType>
        <expression>substitute({!NewLines},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Product Accessories Text Field Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Accessories Text Field Update</label>
    <loops>
        <name>Get_The_Accessory_List</name>
        <label>Get The Accessory List</label>
        <locationX>463</locationX>
        <locationY>38</locationY>
        <assignNextValueToReference>SobjAccessories</assignNextValueToReference>
        <collectionReference>ColAccessories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Accessory_Information_to_the_Main_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Prodcut</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Accessories</name>
        <label>Get all Accessories</label>
        <locationX>71</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ensure_there_are_accesories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Main_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Prodid</elementReference>
            </value>
        </filters>
        <object>Accessories__c</object>
        <outputReference>ColAccessories</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Prodcut</name>
        <label>Update Prodcut</label>
        <locationX>464</locationX>
        <locationY>186</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Prodid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Accessories__c</field>
            <value>
                <elementReference>ProductText</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <startElementReference>Get_all_Accessories</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Hyphen</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Description: &lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewLines</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>-
-</text>
    </textTemplates>
    <textTemplates>
        <name>Product</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Product: :</text>
    </textTemplates>
    <variables>
        <name>ColAccessories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accessories__c</objectType>
    </variables>
    <variables>
        <name>CollectionProdText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ColProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ColUpdatedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Prodid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SobjAccessories</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accessories__c</objectType>
    </variables>
    <variables>
        <name>SobjProdActive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
