force-app/main/default/flows/QuoteChangePricebooks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>pboppidsx</name>
        <label>pboppidsx</label>
        <locationX>322</locationX>
        <locationY>225</locationY>
        <actionName>QuoteNewPriceBook</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>conyy</targetReference>
        </connector>
        <inputParameters>
            <name>pboppid</name>
            <value>
                <elementReference>opp.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>cont</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>pbopids</name>
        <label>pbopids</label>
        <locationX>109</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opp.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Comma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opp.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pbid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pboppidsx</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ContinueVar</name>
        <choiceText>Continue</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>VarCon</elementReference>
        </value>
    </choices>
    <constants>
        <name>Comma</name>
        <dataType>String</dataType>
        <value>
            <stringValue>,</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantProdCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A-00009631</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantTestPBEId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01u1200000O04HD</stringValue>
        </value>
    </constants>
    <constants>
        <name>Header</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Choose Price Book You want to Transfer Products. It will only add products active in new price book.</stringValue>
        </value>
    </constants>
    <constants>
        <name>opportunityid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0061200000SrIhL</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pricebookentrytest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01u1200000O025X</stringValue>
        </value>
    </constants>
    <description>Changes pricebooks and keeps products</description>
    <dynamicChoiceSets>
        <name>PriceBook</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>pbid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>op</name>
        <dataType>String</dataType>
        <expression>&apos;0061H00000YPwYSQA1&apos;</expression>
    </formulas>
    <interviewLabel>QuoteChangePricebooks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QuoteChangePricebooks</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>NewPriceBook_0</name>
        <label>NewPriceBook</label>
        <locationX>93</locationX>
        <locationY>22</locationY>
        <connector>
            <targetReference>Select_New_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Name_Main__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>conyy</name>
        <label>conyy</label>
        <locationX>517</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>newquote</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;New Quote Created. &lt;A HREF=&quot;http://viewsonic.my.salesforce.com/{!cont}&quot; TARGET=&quot;_blank&quot;&gt;Click here for new quote.&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Transfers Products from one pricebook to another price book. If the new price book does not have all products active, this will only add the active products</description>
        <name>Select_New_Price_Book</name>
        <label>Select New Price Book</label>
        <locationX>90</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>pbopids</targetReference>
        </connector>
        <fields>
            <name>HeaderInfo</name>
            <fieldText>{!Header}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Price_Book_Name</name>
            <choiceReferences>PriceBook</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Price Book Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>NewPriceBook_0</startElementReference>
    <status>Active</status>
    <variables>
        <name>CollectionLookupNewPBE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>CollectionNewProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ColLookupProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>cont</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateOppLineProds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CurrentProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Delete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>DeleteProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NewLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NewOppProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppids</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>pbid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pbids</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>pboppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pboppids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductsDeleting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SingleOppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SobjNewEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>TestPricbookEntry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdatedProductLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VarCon</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
