force-app/main/default/flows/ResellerBidAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ResellerAccountExternalBid</name>
        <label>ResellerAccountExternalBid</label>
        <locationX>562</locationX>
        <locationY>298</locationY>
        <actionName>Opportunity.Reseller_Account_Owner_Portal_Created</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>newaccname</name>
        <dataType>String</dataType>
        <expression>lower({!accname})</expression>
    </formulas>
    <interviewLabel>ResellerBidAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ResellerBidAccount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Get_Account_name</name>
        <label>Get Account name</label>
        <locationX>180</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>UpdateOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newaccname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>398</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>ResellerAccountExternalBid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ResellerAcctOwner__c</field>
            <value>
                <elementReference>owenrid</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Get_Account_name</startElementReference>
    <status>Active</status>
    <variables>
        <name>accid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>owenrid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
