force-app/main/default/flows/ServiceContractVIPTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignDates</name>
        <label>assignDates</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>$Record.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>end</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Term</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>term</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStartEnd</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>end</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(today())+2, 12, 31)</expression>
    </formulas>
    <formulas>
        <name>term</name>
        <dataType>Number</dataType>
        <expression>12 - Month(Today()) + 24</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>ServiceContractVIPTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ServiceContractVIPTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateStartEnd</name>
        <label>UpdateStartEnd</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignDates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApprovalStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceContract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
