force-app/main/default/flows/SF_SRI_Mass_Delete_from_list_view.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_SRIs_From_Ids</name>
        <label>Get SRIs From Ids</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>GetRecordsIn</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_Out_Already_sync_to_TCRM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>Stock_Report_Import__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Stock_Report_Import__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>outputObject</name>
            <value>
                <stringValue>Stock_Report_Import__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceMethod</name>
            <value>
                <stringValue>Collection</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceObject</name>
            <value>
                <stringValue>Stock_Report_Import__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceValueCollection</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>storeFieldsMethod</name>
            <value>
                <stringValue>Auto</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_ids_count</name>
        <label>Assign ids count</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>ids_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ids_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Count</name>
        <label>Assign  Record Count</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Out_Already_sync_to_TCRM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Count</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Out_Already_sync_to_TCRM</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Out Already sync to TCRM</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>currentItem_Filter_Out_Already_sync_to_TCRM_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_SRIs_From_Ids.outputCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Out_Already_sync_to_TCRM_0.Synced_to_TCRM__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Record_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SRs</targetReference>
            </connector>
            <label>&gt;0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ids_count</name>
        <label>Check ids count</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids_count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SRIs_From_Ids</targetReference>
            </connector>
            <label>&gt;0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SF_SRI_Mass_Delete_from_list_view {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF_SRI_Mass_Delete_from_list_view</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_SRs</name>
        <label>Delete SRs</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>Filter_Out_Already_sync_to_TCRM</inputReference>
    </recordDeletes>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_ids_count</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Out_Already_sync_to_TCRM_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stock_Report_Import__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ids_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
