force-app/main/default/flows/spaApprovalNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NotifyAccountOwner</name>
        <label>NotifyAccountOwner</label>
        <locationX>575</locationX>
        <locationY>466</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Reseller_Loop</targetReference>
        </connector>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>relatedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>reciepientId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ownerIdAcct</name>
        <label>ownerIdAcct</label>
        <locationX>778</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>reciepientId</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reciepientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>parts.PartnerAccountOwner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NotifyAccountOwner</targetReference>
        </connector>
    </assignments>
    <interviewLabel>spaApprovalNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>spaApprovalNotification</label>
    <loops>
        <name>Reseller_Loop</name>
        <label>Reseller Loop</label>
        <locationX>576</locationX>
        <locationY>143</locationY>
        <assignNextValueToReference>parts</assignNextValueToReference>
        <collectionReference>getResellers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ownerIdAcct</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNotificationType</name>
        <label>getNotificationType</label>
        <locationX>337</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reseller_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getResellers</name>
        <label>getResellers</label>
        <locationX>381</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNotificationType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reseller / VAR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedToId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cdw LLC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Partner__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Account__c</queriedFields>
        <queriedFields>PartnerAccountOwner__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Opportunity_Name__c</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>End_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getResellers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You can have the notification forwarded to the Reseller by clicking below and following instructions.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!parts.Opportunity_Name__c} Spa Approval , End User &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!parts.&lt;/span&gt;&lt;span style=&quot;background-color: rgb(243, 242, 242);&quot;&gt;End_User__c&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Partner__c</objectType>
    </variables>
    <variables>
        <name>reciepientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>relatedToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
