force-app/main/default/flows/spaResellersEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Emails</name>
        <label>Apex Emails</label>
        <locationX>1004</locationX>
        <locationY>888</locationY>
        <actionName>resellerSpaEmailAlert</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idList</name>
            <value>
                <elementReference>TestVar2</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ResllerSpaEmail</name>
        <label>ResllerSpaEmail</label>
        <locationX>1307</locationX>
        <locationY>724</locationY>
        <actionName>Opportunity_Partner__c.resellerSpaApproved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ResellerLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Reseller.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>currentUserEmailAssignment</name>
        <label>currentUserEmailAssignment</label>
        <locationX>1384</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>Reseller.ResellerSpaEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestVar2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Reseller.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestVar2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateReseller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resellerMessage</name>
        <label>resellerMessage</label>
        <locationX>831</locationX>
        <locationY>1005</locationY>
        <assignmentItems>
            <assignToReference>getQuote.Reseller_Spa_Email_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_to_Reseller</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateQuoteField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>taskCreation</name>
        <label>taskCreation</label>
        <locationX>801</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reseller Spa Approval Email Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.CompletedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TestVar2_Assignment_1</name>
        <label>TestVar2 Assignment 1</label>
        <locationX>817</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>TestVar2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EndUsersCheckboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestVar2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestVar2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppTeamMembersCheckboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestVar2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResellerLoop</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>EndUserChoicecs</name>
        <collectionReference>Get_End_Users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <object>OpportunityContactRole</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityTeamMemberCollection</name>
        <collectionReference>Get_Opportunity_Team_Members</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>OpportunityTeamMember</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>RequiredIDs</name>
        <dataType>String</dataType>
        <expression>{!OppTeamMembersCheckboxes}</expression>
    </formulas>
    <formulas>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <interviewLabel>spaResellersEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>spaResellersEmail</label>
    <loops>
        <name>ResellerLoop</name>
        <label>ResellerLoop</label>
        <locationX>1121</locationX>
        <locationY>335</locationY>
        <assignNextValueToReference>Reseller</assignNextValueToReference>
        <collectionReference>oppPartners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>currentUserEmailAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>taskCreation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createTask</name>
        <label>createTask</label>
        <locationX>930</locationX>
        <locationY>726</locationY>
        <connector>
            <targetReference>Apex_Emails</targetReference>
        </connector>
        <inputReference>task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_End_Users</name>
        <label>Get End Users</label>
        <locationX>577</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OppTeamMembersChoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuote.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>End User Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Team_Members</name>
        <label>Get Opportunity Team Members</label>
        <locationX>483</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_End_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuote</name>
        <label>getQuote</label>
        <locationX>391</locationX>
        <locationY>1036</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Text_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateQuoteField</name>
        <label>UpdateQuoteField</label>
        <locationX>696</locationX>
        <locationY>762</locationY>
        <connector>
            <targetReference>Select_Products_to_have_Reseller_quote</targetReference>
        </connector>
        <inputReference>getQuote</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateReseller</name>
        <label>updateReseller</label>
        <locationX>1674</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>ResllerSpaEmail</targetReference>
        </connector>
        <inputReference>Reseller</inputReference>
    </recordUpdates>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>1261</locationX>
        <locationY>944</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmation</name>
            <fieldText>&lt;p&gt;Email was sent to Selected Reseller Contacts based on the Contact Name on this Spa. You should Receive a copy. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>oppPartnersSelection</name>
        <label>oppPartnersSelection</label>
        <locationX>436</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Team_Members</targetReference>
        </connector>
        <fields>
            <name>selectOppPartners</name>
            <extensionName>c:spaPartnersSendEmail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Email Spa Approval Notification to Selected Resellers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>oppPartners</assignToReference>
                <name>selpartners</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OppTeamMembersChoice</name>
        <label>OppTeamMembersChoice</label>
        <locationX>736</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TestVar2_Assignment_1</targetReference>
        </connector>
        <fields>
            <name>oppteammembers</name>
            <fieldText>&lt;p&gt;Please select any Opportunity Team Members and End Users you would like to cc for each Opportunity Partner email that goes out.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OppTeamMembersCheckboxes</name>
            <choiceReferences>OpportunityTeamMemberCollection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Team Members</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EndUsersCheckboxes</name>
            <choiceReferences>EndUserChoicecs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>End Users</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>resellerNotificationStart</name>
        <label>resellerNotificationStart</label>
        <locationX>336</locationX>
        <locationY>659</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getQuote</targetReference>
        </connector>
        <fields>
            <name>Letsstart</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Notify Reseller(s) of Approval&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click Next to Choose Reseller Relating to this Spa and And Email will be sent out&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Products_to_have_Reseller_quote</name>
        <label>Select Products to have Reseller quote</label>
        <locationX>472</locationX>
        <locationY>655</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>oppPartnersSelection</targetReference>
        </connector>
        <fields>
            <name>HeaderProducts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Select Products for Reseller To Quote &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please only select products the Reseller Should quote to Reseller&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(196, 21, 21);&quot;&gt;Important ! &lt;/b&gt;if you do not select any products, the reseller will not get any products on their sheet.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CardOpportunityProduct</name>
            <extensionName>c:cardOpportunityProduct</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getQuote.OpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Alter top level message in email</description>
        <name>Text_Message</name>
        <label>Text Message</label>
        <locationX>649</locationX>
        <locationY>1074</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>resellerMessage</targetReference>
        </connector>
        <fields>
            <name>header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Standard Template reads: &lt;/span&gt;&amp;nbsp;Hi {FirstName} , I&apos;m sending this approved spa and the related products. Let me know if you have any questions.&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;You can add additional information below&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_to_Reseller</name>
            <defaultValue>
                <stringValue>{!getQuote.Reseller_Spa_Email_Text__c}</stringValue>
            </defaultValue>
            <fieldText>Additional Info (Optional):</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>191</locationY>
        <connector>
            <targetReference>resellerNotificationStart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>tst</description>
        <name>template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;End User Name:&lt;/b&gt; {!enduser}&lt;/p&gt;&lt;p&gt;&lt;b&gt;End User City: &lt;/b&gt;{!city}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;End User State:&lt;/b&gt; {!state}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Expiration Date:&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!expdate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table style=&quot;border-width: 0px;
border-spacing: 0px;
width: 700px;
background-color: #FFFFFF;&quot;&gt;
    &lt;tr&gt;
        &lt;th style=&quot;color: #FFFFFF;
        border-width: 0px ;
        padding: 4px ;
        border-style: solid ;
        border-color: #000000;
        background-color: #900000;
        width: 700px;&quot;&gt;Products&lt;/th&gt;
        &lt;th style=&quot;color: #FFFFFF;
        border-width: 0px ;
        padding: 4px ;
        border-style: solid ;
        border-color: #000000;
        background-color: #900000;
        width: 700px;&quot;&gt;Quantity&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td style=&quot;border-width: 0px;
        padding: 4px;
        border-style: solid;
        border-color: #000000;
        width: 700px;&quot;&gt;{!product}&lt;/td&gt;
        &lt;td style=&quot;border-width: 0px;
        padding: 4px;
        border-style: solid;
        border-color: #000000;
        width: 700px;&quot;&gt;{!Quantity}&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</text>
    </textTemplates>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailsneil</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>enduser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>expdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>NewProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppidtest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0061H00000l5N9xQAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>oppPartners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Partner__c</objectType>
    </variables>
    <variables>
        <name>product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productdescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reseller</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Partner__c</objectType>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>testvar</name>
        <apexClass>usf3__FieldDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestVar2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
