force-app/main/default/flows/TeamMembers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Teammebercol</name>
        <label>Teammebercol</label>
        <locationX>537</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>ColUpdateTeam</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SobjMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopthroughmembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Teammember</name>
        <label>Teammember</label>
        <locationX>466</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>SobjMembers.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>External Distribution Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Teammebercol</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TeamMembers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TeamMembers</label>
    <loops>
        <name>loopthroughmembers</name>
        <label>loopthroughmembers</label>
        <locationX>291</locationX>
        <locationY>19</locationY>
        <assignNextValueToReference>SobjMembers</assignNextValueToReference>
        <collectionReference>membersnottitle</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Teammember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTeam</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Teammmeberexternal</name>
        <label>Teammmeberexternal</label>
        <locationX>129</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopthroughmembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>membersnottitle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTeam</name>
        <label>UpdateTeam</label>
        <locationX>151</locationX>
        <locationY>194</locationY>
        <inputReference>ColUpdateTeam</inputReference>
    </recordUpdates>
    <startElementReference>Teammmeberexternal</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ColUpdateTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>membersnottitle</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>SobjMembers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
