force-app/main/default/flows/Transfer_Products_to_New_PriceBook_Remove_Distis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>NewProductCreate</name>
        <label>NewProductCreate</label>
        <locationX>564</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>CollectionNewProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedProductLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReassignColValues</name>
        <label>ReassignColValues</label>
        <locationX>714</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>UpdatedProductLine.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleOppProducts.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedProductLine.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleOppProducts.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedProductLine.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleOppProducts.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedProductLine.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newpbeid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedProductLine.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleOppProducts.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedProductLine.Competitor_Name_del__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleOppProducts.Competitor_Name_del__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedProductLine.Competitor_Price_del__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleOppProducts.Competitor_Price_del__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedProductLine.Competitor_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleOppProducts.Competitor_SKU__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewProductCreate</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ContinueVar</name>
        <choiceText>Continue</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>VarCon</elementReference>
        </value>
    </choices>
    <constants>
        <name>Comma</name>
        <dataType>String</dataType>
        <value>
            <stringValue>,</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantProdCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A-00009631</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantTestPBEId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01u1200000O04HD</stringValue>
        </value>
    </constants>
    <constants>
        <name>Header</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Choose Price Book You want to Transfer Products. It will only add products active in new price book.</stringValue>
        </value>
    </constants>
    <constants>
        <name>opportunityid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0061200000SrIhL</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pricebookentrytest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01u1200000O025X</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_error_message</name>
        <label>Check for error message</label>
        <locationX>254</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>PricebookUsed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>error_message_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorMesage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>error message exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Distributors_Exists</name>
        <label>Check if Distributors Exists</label>
        <locationX>874</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Distis_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DistributorPartners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Distis</targetReference>
            </connector>
            <label>Distis Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_pbe_is_active</name>
        <label>Check if pbe is active</label>
        <locationX>762</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_all_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PBE_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pbeactive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReassignColValues</targetReference>
            </connector>
            <label>PBE is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Collection_has_OppLineItems</name>
        <label>New Collection has OppLineItems</label>
        <locationX>274</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OpplineItems_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionNewProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewOppLineProducts</targetReference>
            </connector>
            <label>OpplineItems Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>PricebookUsed</name>
        <label>PricebookUsed</label>
        <locationX>475</locationX>
        <locationY>535</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Direct_Price_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newpbeid</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>usdisti</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Distributors_on_Pricebook</targetReference>
            </connector>
            <label>Direct Price Book</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PriceBook</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>pbid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DistributorMangerId</name>
        <dataType>String</dataType>
        <expression>&apos;005A0000000TGUn&apos;</expression>
    </formulas>
    <formulas>
        <name>usdisti</name>
        <dataType>String</dataType>
        <expression>&apos;01sA00000008gzSIAQ&apos;</expression>
    </formulas>
    <interviewLabel>Transfer Products to New PriceBook Remove Distis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transfer Products to New PriceBook Remove Distis</label>
    <loops>
        <name>Loop_Through_all_products</name>
        <label>Loop Through all products</label>
        <locationX>283</locationX>
        <locationY>89</locationY>
        <assignNextValueToReference>SingleOppProducts</assignNextValueToReference>
        <collectionReference>DeleteProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PBE_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NewPriceBook</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewOppLineProducts</name>
        <label>NewOppLineProducts</label>
        <locationX>273</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>Check_for_error_message</targetReference>
        </connector>
        <inputReference>CollectionNewProducts</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Distis</name>
        <label>Delete Distis</label>
        <locationX>749</locationX>
        <locationY>555</locationY>
        <inputReference>DistributorPartners</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteCurLineItems</name>
        <label>DeleteCurLineItems</label>
        <locationX>79</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Loop_Through_all_products</targetReference>
        </connector>
        <inputReference>DeleteProducts</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>All_Distributors_on_Pricebook</name>
        <label>All Distributors on Pricebook</label>
        <locationX>690</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Distributors_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributor</stringValue>
            </value>
        </filters>
        <object>Opportunity_Partner__c</object>
        <outputReference>DistributorPartners</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Allproductsonopp</name>
        <label>Allproductsonopp</label>
        <locationX>87</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteCurLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>DeleteProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Approved_Price__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Competitor_Name_del__c</queriedFields>
        <queriedFields>Competitor_Price_del__c</queriedFields>
        <queriedFields>Competitor_SKU__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PBE_ID</name>
        <label>PBE ID</label>
        <locationX>554</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_pbe_is_active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Price_Book_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleOppProducts.ProductCode</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>newpbeid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>pbeactive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>NewPriceBook</name>
        <label>NewPriceBook</label>
        <locationX>477</locationX>
        <locationY>425</locationY>
        <connector>
            <targetReference>New_Collection_has_OppLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>pbid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name_Main__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>NewPriceBook_0</name>
        <label>Clear Main Product</label>
        <locationX>87</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Select_New_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Name_Main__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>85</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMesage</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Transfers Products from one pricebook to another price book. If the new price book does not have all products active, this will only add the active products</description>
        <name>Select_New_Price_Book</name>
        <label>Select New Price Book</label>
        <locationX>87</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Allproductsonopp</targetReference>
        </connector>
        <fields>
            <name>HeaderInfo</name>
            <fieldText>{!Header}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Price_Book_Name</name>
            <choiceReferences>PriceBook</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Price Book Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>NewPriceBook_0</startElementReference>
    <status>Active</status>
    <variables>
        <name>CollectionLookupNewPBE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>CollectionNewProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ColLookupProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ColTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>ColTeamMembersExternal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>cont</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateOppLineProds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CurrentProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Delete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>DeleteProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>DistributorPartners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Partner__c</objectType>
    </variables>
    <variables>
        <name>NewLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NewOppProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newpbeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pbeactive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pbid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductsDeleting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SingleOppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SobjNewEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>TestPricbookEntry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdatedProductLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VarCon</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
