force-app/main/default/flows/trigTaskPartnerPortal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>notifyContact_0</name>
        <label>notifyContact</label>
        <locationX>308</locationX>
        <locationY>911</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>sendEmail2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML1H000000PAsDWAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>messageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>sendToIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendEmail2</name>
        <label>sendEmail2</label>
        <locationX>308</locationX>
        <locationY>1031</locationY>
        <actionName>Task.portalTaskCreated</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>addUsers_0</name>
        <label>addUsers</label>
        <locationX>308</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>sendToIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getUserId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>notifyContact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assginOwner</name>
        <label>assginOwner</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUserId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkifEmployee</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Task has been Assigned</description>
        <name>notificationSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Task has been Assigned</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkifEmployee</name>
        <label>checkifEmployee</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>updateRecord_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notEmployee</defaultConnectorLabel>
        <rules>
            <name>isEmployee</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getUserId.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E120000012ZHlEAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getUserId.UserRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>isEmployee</label>
        </rules>
    </decisions>
    <interviewLabel>trigTaskPartnerPortal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>trigTaskPartnerPortal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getUserId</name>
        <label>getUserId</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assginOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRecord_0</name>
        <label>updateRecord</label>
        <locationX>308</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>addUsers_0</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getUserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121H000001IlGnQAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00G1H0000059UYu</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>messageBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ViewSonic Partner Portal Has sent an important message regarding an action need on your account.</text>
    </textTemplates>
    <variables>
        <name>sendToIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
