force-app/main/default/flows/UserAccountId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Collection_Update</name>
        <label>Add to Collection Update</label>
        <locationX>110</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>UserUpdateCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserOrigSobj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UserCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountId</name>
        <label>AssignAccountId</label>
        <locationX>109</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>UserOrigSobj.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vsacctid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Brea</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Brea</stringValue>
        </value>
    </constants>
    <constants>
        <name>point</name>
        <dataType>String</dataType>
        <value>
            <stringValue>10 point dr.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Viewsonic</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0011200001Dq2NA</stringValue>
        </value>
    </constants>
    <constants>
        <name>Viewsonicname</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Viewsonic</stringValue>
        </value>
    </constants>
    <constants>
        <name>VS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Viewsonic Corporation</stringValue>
        </value>
    </constants>
    <constants>
        <name>vsacctid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0011200001Dq2NA</stringValue>
        </value>
    </constants>
    <interviewLabel>UserAccountId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UserAccountId</label>
    <loops>
        <name>UserCollection</name>
        <label>UserCollection</label>
        <locationX>655</locationX>
        <locationY>158</locationY>
        <assignNextValueToReference>UserOrigSobj</assignNextValueToReference>
        <collectionReference>UsersOrgCol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignAccountId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UsersUpdateCol</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Active_Users</name>
        <label>Active Users</label>
        <locationX>660</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UsersOrgCol</outputReference>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UsersUpdateCol</name>
        <label>UsersUpdateCol</label>
        <locationX>659</locationX>
        <locationY>291</locationY>
        <inputReference>UserUpdateCol</inputReference>
    </recordUpdates>
    <startElementReference>Active_Users</startElementReference>
    <status>Draft</status>
    <variables>
        <name>acctid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsColCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CreatedConSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CreatedContactsCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rectypid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stateid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserOrigSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UsersOrgCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserUpdateCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserUpdateConCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
