force-app/main/default/flows/VIP_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>serviceContractApproval</name>
        <label>serviceContractApproval</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>erFault_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Reason_for_Request_Optional_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>VIPApproved</name>
        <label>VIPApproved</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <actionName>ServiceContract.VIP_Approved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>newSContractId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignRevs_0</name>
        <label>assignRevs</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>cyRev</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.POS_CY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pyRev</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.POS_PY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResellerLookup_0.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Primary_Reseller_VIP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VIP_Request_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignValues_0</name>
        <label>assignValues</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>getAccount.VIP_Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIP_Type_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccount.Primary_Reseller_VIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResellerLookup_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccount.VIP_Service_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIPContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccount.VIP_Service_Reason_for_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Request_Optional_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccount.VIPStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccount.VIPEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateYear</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignValues_0_0</name>
        <label>assignValues</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>getAccount.VIP_Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIP_Type_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccount.Primary_Reseller_VIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResellerLookup_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccount.VIP_Service_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIPContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccount.VIP_Service_Reason_for_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Request_Optional_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>autoApproved</name>
        <label>autoApproved</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>assignValues_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAutoApproved</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>VIP_Type_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.VIPGoldAutoApprove__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VIP_Type_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotline Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getResellerAccount</targetReference>
            </connector>
            <label>isAutoApproved</label>
        </rules>
    </decisions>
    <decisions>
        <name>currentApprovalProcessExists</name>
        <label>currentApprovalProcessExists</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>assignRevs_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotInApproval</defaultConnectorLabel>
        <rules>
            <name>inApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkIfContractInApprovalProcessExists.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errMssg</targetReference>
            </connector>
            <label>inApproval</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContractRequestType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Type__c</picklistField>
        <picklistObject>ServiceContract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VIP_Request_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vip</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Type__c</picklistField>
        <picklistObject>ServiceContract</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>contractName</name>
        <dataType>String</dataType>
        <expression>{!getAccount.Name}&amp;&quot; &quot;&amp;{!VIP_Type_0}&amp;&quot; &quot;&amp; text(month(today()))&amp;text(year(today()))</expression>
    </formulas>
    <formulas>
        <name>contractTerm</name>
        <dataType>Number</dataType>
        <expression>12 - Month(Today()) + 24</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EndDateYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(today())+2, 12, 31)</expression>
    </formulas>
    <formulas>
        <name>StartDateToday</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>VIP Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VIP Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createServiceContract_0</name>
        <label>createServiceContract</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignRecordIdToReference>newSContractId</assignRecordIdToReference>
        <connector>
            <targetReference>VIPApproved</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovalStatus</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VIPContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>EndDateYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>contractName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Reason_for_Request_Optional_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryReseller__c</field>
            <value>
                <elementReference>ResellerLookup_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller_Account_Owner__c</field>
            <value>
                <elementReference>getResellerAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>VIP_Type_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>StartDateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term</field>
            <value>
                <elementReference>contractTerm</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordCreates>
    <recordCreates>
        <name>createServiceContract_0_0</name>
        <label>createServiceContract</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignRecordIdToReference>contractId</assignRecordIdToReference>
        <connector>
            <targetReference>serviceContractApproval</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovalStatus</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VIPContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>contractName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Reason_for_Request_Optional_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryReseller__c</field>
            <value>
                <elementReference>ResellerLookup_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>VIP_Type_0</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordCreates>
    <recordLookups>
        <name>checkIfContractInApprovalProcessExists</name>
        <label>checkIfContractInApprovalProcessExists</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>currentApprovalProcessExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApprovalStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Approval Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfContractInApprovalProcessExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getResellerAccount</name>
        <label>getResellerAccount</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignValues_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResellerLookup_0.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount_0</name>
        <label>updateAccount</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>createServiceContract_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erFault_0_0</targetReference>
        </faultConnector>
        <inputReference>getAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccount_0_0</name>
        <label>updateAccount</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>createServiceContract_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erFault_0_0_0</targetReference>
        </faultConnector>
        <inputReference>getAccount</inputReference>
    </recordUpdates>
    <screens>
        <name>erFault_0</name>
        <label>erFault</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrFauilt_0</name>
            <fieldText>&lt;p&gt;There was an error:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>erFault_0_0</name>
        <label>erFault</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrFauilt_0_0</name>
            <fieldText>&lt;p&gt;There was an error:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>erFault_0_0_0</name>
        <label>erFault</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrFauilt_0_0_0</name>
            <fieldText>&lt;p&gt;There was an error:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errMssg</name>
        <label>errMssg</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;This Account is in a current approval process for VIP. If you wish to cancel this, please go to the VIP Service Contract Request page. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VIP_Request_0</name>
        <label>VIP Request</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>autoApproved</targetReference>
        </connector>
        <fields>
            <name>VIP_Type_0</name>
            <choiceReferences>ContractRequestType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>VIP Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ResellerLookup_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Primary_Reseller_VIP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Reseller</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getAccount.Primary_Reseller_VIP__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>VIPContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>VIP_Service_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>VIP Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getAccount.VIP_Service_Contact__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Reason_for_Request_Optional_0</name>
            <fieldText>Reason for Request (Optional)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Revenue_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;POS Revenues Last 2 Years&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;CY Revenue:  &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!cyRev}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;PY Revenue: {!pyRev}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cyRev</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>newSContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pyRev</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VIPGold</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>VIP Gold</stringValue>
        </value>
    </variables>
</Flow>
