force-app/main/default/flows/VIPServiceContractRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>emailAudit</name>
        <label>emailAudit</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>POSAudit__c.PoSAudit</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AuditApproved</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>auditId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubmitApproval_0</name>
        <label>SubmitApproval</label>
        <locationX>666</locationX>
        <locationY>1910</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>ErrorMessageScreen_0_0_0_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>sContractId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>approvedAutoAss</name>
        <label>approvedAutoAss</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateServiceContract</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>serContractId</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>auditDecision</name>
        <label>auditDecision</label>
        <locationX>534</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>CheckifStandardAuto_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Audit</defaultConnectorLabel>
        <rules>
            <name>auditDecisionOption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>revenueAudit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmatilonAudit</targetReference>
            </connector>
            <label>Audit</label>
        </rules>
    </decisions>
    <decisions>
        <name>auditDecision_0</name>
        <label>auditDecision</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>CheckifStandardAuto_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Audit</defaultConnectorLabel>
        <rules>
            <name>auditDecisionOption_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>auditMaterial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createAuditReqRecord_0</targetReference>
            </connector>
            <label>Audit</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckifStandardAuto_0</name>
        <label>CheckifStandardAuto</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>CreateServiceContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gold</defaultConnectorLabel>
        <rules>
            <name>StandardApproved_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.POS_CY__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>approvedAutoAss</targetReference>
            </connector>
            <label>StandardApproved</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckifStandardAuto_0_0_0</name>
        <label>CheckifStandardAuto</label>
        <locationX>534</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>SubmitApproval_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gold</defaultConnectorLabel>
        <rules>
            <name>StandardApproved_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTypePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIP Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.POS_CY__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AutoApproved_0</targetReference>
            </connector>
            <label>StandardApproved</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ServiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Type__c</picklistField>
        <picklistObject>ServiceContract</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>endDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!DATEVALUE(text(year($Flow.CurrentDate)+2)&amp;&quot;-12-31&quot;)}</expression>
    </formulas>
    <formulas>
        <name>Term</name>
        <dataType>Number</dataType>
        <expression>{!12-month($Flow.CurrentDate)+24}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>VIPServiceContractRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VIPServiceContractRequest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAuditReqRecord_0</name>
        <label>createAuditReqRecord</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>auditId</assignRecordIdToReference>
        <connector>
            <targetReference>emailAudit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageScreen_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Info__c</field>
            <value>
                <elementReference>Additional_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>Distributor_on_missing_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineId__c</field>
            <value>
                <elementReference>Line_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_s__c</field>
            <value>
                <elementReference>Product_s_on_Missing_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller_Account__c</field>
            <value>
                <elementReference>Reseller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Expected_Current_Year__c</field>
            <value>
                <elementReference>RevenueExpected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Date_Missing__c</field>
            <value>
                <elementReference>Estimated_Sale_Date_Missing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Contract__c</field>
            <value>
                <elementReference>sContractId</elementReference>
            </value>
        </inputAssignments>
        <object>POSAudit__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateServiceContract</name>
        <label>CreateServiceContract</label>
        <locationX>534</locationX>
        <locationY>734</locationY>
        <assignRecordIdToReference>sContractId</assignRecordIdToReference>
        <connector>
            <targetReference>auditDecision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageScreen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovalStatus</field>
            <value>
                <elementReference>status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!getAccount.Name} {!ServiceTypePicklist}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryReseller__c</field>
            <value>
                <elementReference>resellerName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep_Notes_for_Approval__c</field>
            <value>
                <elementReference>Special_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>ServiceTypePicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>startdate</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceContractFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AuditApproved</name>
        <label>AuditApproved</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckifStandardAuto_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Congrats_0_0</name>
            <fieldText>&lt;p&gt;We have sent the information to the Data team to verify. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You will be cc&apos;d on the email.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AutoApproved_0</name>
        <label>AutoApproved</label>
        <locationX>402</locationX>
        <locationY>1910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Congrats_0_0_0</name>
            <fieldText>&lt;p&gt;This has been auto approved as it meets the threshold. An email will go to Customer Service and you will be cc&apos;d on this email. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have any questions, feel free to contact Customer Service or your Sales Director for Program Information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmatilonAudit</name>
        <label>ConfirmatilonAudit</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>auditDecision_0</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;You have chosen a request to audit. Please verify that revenue numbers will make a material difference in the VIP Gold approval Process. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please do not request if there is not material difference.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>auditMaterial</name>
            <dataType>Boolean</dataType>
            <fieldText>Definite Material Difference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RevenueExpected</name>
            <dataType>Number</dataType>
            <fieldText>What Revenue do you expect for Current Year?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Reseller</name>
            <dataType>String</dataType>
            <fieldText>What was Reseller on Missing Sales?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Distributor_on_missing_Sales</name>
            <dataType>String</dataType>
            <fieldText>Distributor on missing Sales?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Sale_Date_Missing</name>
            <dataType>Date</dataType>
            <fieldText>Estimated Sale Date Missing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_s_on_Missing_Sales</name>
            <dataType>String</dataType>
            <fieldText>Product(s) on Missing Sales</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information to help locate</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Line_Id</name>
            <dataType>String</dataType>
            <fieldText>Line Id</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;LineId is an id that can be found in sales data in Einstein Analytics. It is the best way to help identify the row of data you are looking at.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>filesToUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Screenshots or Helpful Info</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sContractId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessageScreen_0</name>
        <label>ErrorMessageScreen</label>
        <locationX>1194</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>&lt;p&gt;There was an error {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessageScreen_0_0_0_0</name>
        <label>ErrorMessageScreen</label>
        <locationX>930</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0_0_0_0</name>
            <fieldText>&lt;p&gt;There was an error {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessageScreen_0_0_0_0_0</name>
        <label>ErrorMessageScreen</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;There was an error {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ServiceContractFields</name>
        <label>ServiceContractFields</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckifStandardAuto_0</targetReference>
        </connector>
        <fields>
            <name>ServiceTypePicklist</name>
            <choiceReferences>ServiceType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>contactName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Service Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceContract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>contactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>resellerName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PrimaryReseller__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceContract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Reseller</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Special_Notes</name>
            <fieldText>Notes for Approval Request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Revenues</name>
            <fieldText>&lt;p&gt;&lt;b&gt;CY Revenue&lt;/b&gt; ${!getAccount.POS_CY__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;PY Revenue&lt;/b&gt; $&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!getAccount.POS_PY__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Revenue is base on POS that has been linked to End User, If revenue numbers are inaccurate, the next step will allow you to submit a review with the Data team.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;**&lt;b&gt;VIP Standard Threshold&lt;/b&gt; is $100,000&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>revenueAudit</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you wish to have data team to audit the Sales Data?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>auditId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>endDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0011200001LKuITAA1</stringValue>
        </value>
    </variables>
    <variables>
        <name>sContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>startdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
